Repository dagster-io/community-integrations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cmpadden, @JasperHG90, @deepyaman, @ion-elgreco, @danielgafni, @GingerYouth, @christeefy, @marijncv

Release dagster-iceberg 0.3.1
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

Release dagster-polars 0.27.1
  libraries/dagster-polars/dagster_polars/version.py
Owners: @danielgafni

Release dagster-polars 0.27.3
  libraries/dagster-polars/dagster_polars/version.py
Owners: @danielgafni

Release dagster-teradata 0.0.5
  libraries/dagster-teradata/dagster_teradata/__init__.py
Owners: @cmpadden

Release dagster-iceberg 0.3.2
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

Release dagster-evidence 0.1.6
  libraries/dagster-evidence/dagster_evidence/__init__.py
Owners: @cmpadden

Release dagster-teradata 0.0.4
  libraries/dagster-teradata/dagster_teradata/__init__.py
Owners: @cmpadden

Release dagster-polars 0.27.4
  libraries/dagster-polars/dagster_polars/version.py
Owners: @danielgafni

TPT's DDL and TDLOAD operator for dagster-teradata
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata/ttu/tpt.py
  libraries/dagster-teradata/dagster_teradata/ttu/tpt_executer.py
  libraries/dagster-teradata/dagster_teradata/ttu/utils/tpt_util.py
  libraries/dagster-teradata/dagster_teradata/ttu/utils/util.py
  libraries/dagster-teradata/dagster_teradata_tests/functional/test_execute_bteq.py
  libraries/dagster-teradata/dagster_teradata_tests/test_tpt.py
Owners: @cmpadden

[dagster-polars] add tests for load_asset_value
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
  libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers.py
  libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers_lazy.py
  libraries/dagster-polars/pyproject.toml
  libraries/dagster-polars/uv.lock
Owners: @danielgafni

[pipes-java] fix JAR building and test dependencies
  libraries/pipes/implementations/java/build.gradle
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/PipesContext.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/PipesContextImpl.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/PipesContextInstance.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/PipesSession.java
  libraries/pipes/implementations/java/tests/conftest.py
  libraries/pipes/implementations/java/tests/test_pipes.py
Owners: @GingerYouth, @danielgafni

[pipes-java] move javadoc comments to the PipesContext interface
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/PipesContext.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/PipesContextImpl.java
Owners: @GingerYouth, @danielgafni

[pipes-java] remove unneeded mockito dependency
  libraries/pipes/implementations/java/build.gradle
Owners: @GingerYouth, @danielgafni

[dagster-polars] fix: sanitize config passed to polars.scan_parquet
  libraries/dagster-polars/dagster_polars/io_managers/parquet.py
Owners: @danielgafni

doc: update CHANGELOG.md
  libraries/dagster-polars/CHANGELOG.md
Owners: @danielgafni

Release dagster-polars 0.27.5
  libraries/dagster-polars/dagster_polars/version.py
Owners: @danielgafni

[dagster-polars] Fix package discovery when building
  libraries/dagster-polars/pyproject.toml
Owners: @danielgafni

[dagster-dataform] Initial README
  libraries/dagster-dataform/README.md
Owners: @cmpadden

[dagster-dataform] Root files
  libraries/dagster-dataform/Makefile
  libraries/dagster-dataform/pyproject.toml
  libraries/dagster-dataform/uv.lock
Owners: @cmpadden

[dagster-dataform] Integration modules
  libraries/dagster-dataform/dagster_dataform/__init__.py
  libraries/dagster-dataform/dagster_dataform/dataform_orchestration_schedule.py
  libraries/dagster-dataform/dagster_dataform/dataform_polling_sensor.py
  libraries/dagster-dataform/dagster_dataform/resources.py
  libraries/dagster-dataform/dagster_dataform/utils.py
Owners: @cmpadden

[dagster-dataform] Integration unit tests
  libraries/dagster-dataform/dagster_dataform_tests/__init__.py
  libraries/dagster-dataform/dagster_dataform_tests/conftest.py
  libraries/dagster-dataform/dagster_dataform_tests/test_dataform_orchestration_schedule.py
  libraries/dagster-dataform/dagster_dataform_tests/test_dataform_polling_sensor.py
  libraries/dagster-dataform/dagster_dataform_tests/test_resources.py
  libraries/dagster-dataform/dagster_dataform_tests/test_utils.py
Owners: @cmpadden

[dagster-dataform] Add prereq for freshness checks
  libraries/dagster-dataform/README.md
Owners: @cmpadden

[dagster-dataform] import module objects into __init__.py
  libraries/dagster-dataform/dagster_dataform/__init__.py
Owners: @cmpadden

[dagster-dataform] fix import names
  libraries/dagster-dataform/dagster_dataform/__init__.py
Owners: @cmpadden

[dagster-dataform] Resolve linting warnings.
  libraries/dagster-dataform/dagster_dataform_tests/conftest.py
  libraries/dagster-dataform/dagster_dataform_tests/test_dataform_orchestration_schedule.py
  libraries/dagster-dataform/dagster_dataform_tests/test_dataform_polling_sensor.py
  libraries/dagster-dataform/dagster_dataform_tests/test_resources.py
  libraries/dagster-dataform/dagster_dataform_tests/test_utils.py
Owners: @cmpadden

[dagster-dataform] Add # noqa for stubborn type warnings
  libraries/dagster-dataform/dagster_dataform/resources.py
  libraries/dagster-dataform/dagster_dataform_tests/test_dataform_orchestration_schedule.py
  libraries/dagster-dataform/dagster_dataform_tests/test_dataform_polling_sensor.py
Owners: @cmpadden

Release dagster-dataform 0.0.2
  libraries/dagster-dataform/dagster_dataform/__init__.py
Owners: @cmpadden

[dagster-dataform] Fix; remove non-existent function import
  libraries/dagster-dataform/dagster_dataform/__init__.py
Owners: @cmpadden

[dagster-dataform] Modify ignore comments to silence certain pyright errors.
  libraries/dagster-dataform/dagster_dataform/resources.py
  libraries/dagster-dataform/dagster_dataform_tests/test_dataform_orchestration_schedule.py
  libraries/dagster-dataform/dagster_dataform_tests/test_dataform_polling_sensor.py
Owners: @cmpadden

Release dagster-dataform 0.0.2
  libraries/dagster-dataform/dagster_dataform/__init__.py
Owners: @cmpadden

Release dagster-dataform 0.0.3
  libraries/dagster-dataform/dagster_dataform/__init__.py
Owners: @cmpadden

[dagster-dataform] Add support for inclusion patterns to help filter which invocations actions are detected and processed. Add asset checks processing.
  libraries/dagster-dataform/dagster_dataform/dataform_polling_sensor.py
Owners: @cmpadden

[dagster-dataform] Add capability to create asset checks from Dataform Assertions in the repository.
  libraries/dagster-dataform/dagster_dataform/resources.py
Owners: @cmpadden

[dagster-dataform] New utils function to handle creating AssetCheckEvaluation event from assertion action in workflow invocation
  libraries/dagster-dataform/dagster_dataform/utils.py
Owners: @cmpadden

[dagster-dataform] Fix log message
  libraries/dagster-dataform/dagster_dataform/resources.py
Owners: @cmpadden

[dagster-dataform] Due to resource refactoring, remove import of load functions
  libraries/dagster-dataform/dagster_dataform/__init__.py
Owners: @cmpadden

[dagster-dataform] Mods to conditional logic for handling asset check evaluations; improve logging
  libraries/dagster-dataform/dagster_dataform/dataform_polling_sensor.py
Owners: @cmpadden

[dagster-dataform] Refactor function to obtain asset_key for AssetCheckEvaluation from new asset_checks property of resource class
  libraries/dagster-dataform/dagster_dataform/utils.py
Owners: @cmpadden

[dagster-dataform] Add freshness lag minutes param to init method
  libraries/dagster-dataform/dagster_dataform/resources.py
Owners: @cmpadden

[dagster-dataform] Tune tests given core code changes
  libraries/dagster-dataform/dagster_dataform_tests/test_resources.py
Owners: @cmpadden

.github/CODEOWNERS:

*   @cmpadden

/libraries/dagster-iceberg/ @JasperHG90 @deepyaman
/libraries/dagster-obstore/ @ion-elgreco
/libraries/dagster-polars/  @danielgafni
/libraries/pipes/   @danielgafni
/libraries/pipes/implementations/java/  @GingerYouth @danielgafni
/libraries/pipes/implementations/rust/  @cmpadden @christeefy @marijncv
