Repository dagster-io/community-integrations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cmpadden, @danielgafni, @GingerYouth, @christeefy, @marijncv, @ion-elgreco

[dagster-notdiamond] Fix Ruff violation in example
  libraries/dagster-notdiamond/examples/example_book_reviews_summary.py
Owners: @cmpadden

[dagster-iceberg] Do not require `dagster-pyspark`
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
  libraries/dagster-iceberg/uv.lock
Owners: @cmpadden

[dagster-iceberg] Don't use Pythonic configuration
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @cmpadden

update java pipes
  libraries/pipes/implementations/java/build.gradle
  libraries/pipes/implementations/java/settings.gradle
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/loaders/PipesCliArgsParamsLoader.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/loaders/PipesMappingParamsLoader.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/utils/PipesUtils.java
  libraries/pipes/nix/shells/java/default.nix
Owners: @GingerYouth, @danielgafni

Release dagster-obstore 0.2.1
  libraries/dagster-obstore/dagster_obstore/__init__.py
Owners: @ion-elgreco

[dagster-iceberg] Provide URL using `spark.remote`
  libraries/dagster-iceberg/kitchen-sink/Makefile
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @cmpadden

[dagster-iceberg] Support configuring Spark remote
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @cmpadden

[dagster-iceberg] Restore `print` of reloaded data
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
Owners: @cmpadden

[dagster-iceberg] Add partitioned Polars data test
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @cmpadden

[dagster-iceberg] Add partitioned Polars data test
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @cmpadden

[dagster-iceberg] Restore `print` of reloaded data
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
Owners: @cmpadden

[dagster-iceberg] Add partitioned Polars data test
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @cmpadden

[dagster-iceberg] Restore `print` of reloaded data
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
Owners: @cmpadden

[dagster-iceberg] Support configuring Spark remote
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @cmpadden

[dagster-iceberg] Add partitioned Polars data test
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @cmpadden

[dagster-iceberg] Support partitioned Spark assets
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/base.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @cmpadden

[dagster-iceberg] Don't run Spark jobs in parallel
  libraries/dagster-iceberg/kitchen-sink/Makefile
Owners: @cmpadden

[dagster-iceberg] Add partitioned Spark asset test
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @cmpadden

[dagster-iceberg] Upgrade Dagster for typing fixes
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
  libraries/dagster-iceberg/uv.lock
Owners: @cmpadden

fix: update imports to use dagster_shared and bump dagster dependency to 1.10.7
  libraries/dagster-obstore/dagster_obstore/azure/compute_log_manager.py
  libraries/dagster-obstore/dagster_obstore/gcs/compute_log_manager.py
  libraries/dagster-obstore/dagster_obstore/s3/compute_log_manager.py
  libraries/dagster-obstore/pyproject.toml
  libraries/dagster-obstore/uv.lock
Owners: @ion-elgreco

Release dagster-obstore 0.2.2
  libraries/dagster-obstore/dagster_obstore/__init__.py
Owners: @ion-elgreco

[dagster-iceberg] Add partitioned Spark asset test
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @cmpadden

[dagster-iceberg] Support partitioned Spark assets
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/base.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @cmpadden

[dagster-iceberg] Don't run Spark jobs in parallel
  libraries/dagster-iceberg/kitchen-sink/Makefile
Owners: @cmpadden

[dagster-iceberg] Upgrade Dagster for typing fixes
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
  libraries/dagster-iceberg/uv.lock
Owners: @cmpadden

[dagster-iceberg] Group kitchen sink assets by lib
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
Owners: @cmpadden

[dagster-iceberg] Ensure partitioned reads, writes
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @cmpadden

[dagster-iceberg] Drop an unnecessary length check
  libraries/dagster-iceberg/src/dagster_iceberg/_utils/io.py
  libraries/dagster-iceberg/src/dagster_iceberg/_utils/partitions.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @cmpadden

[dagster-iceberg] Drop an unnecessary length check
  libraries/dagster-iceberg/src/dagster_iceberg/_utils/io.py
  libraries/dagster-iceberg/src/dagster_iceberg/_utils/partitions.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @cmpadden

[dagster-iceberg] Import, use `dg` in kitchen sink
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
Owners: @cmpadden

[dagster-iceberg] Add partition type to asset name
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @cmpadden

[dagster-iceberg] Rename `PARTITION_EXPR` variable
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
Owners: @cmpadden

[dagster-iceberg] Test 2D partitioning with Polars
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
Owners: @cmpadden

[dagster-iceberg] Add multi partitioning unit test
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @cmpadden

[dagster-iceberg] Check 2D partitioning with Spark
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @cmpadden

[dagster-iceberg] Add test for Spark 2D partitions
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @cmpadden

[dagster-iceberg] Reload 2D-partitioned Spark data
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
Owners: @cmpadden

[dagster-iceberg] Test time partitions with Polars
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @cmpadden

[dagster-iceberg] Test daily partitions with Spark
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @cmpadden

template init
  libraries/dagster-evidence/Makefile
  libraries/dagster-evidence/README.md
  libraries/dagster-evidence/dagster_evidence/__init__.py
  libraries/dagster-evidence/dagster_evidence_tests/__init__.py
  libraries/dagster-evidence/dagster_evidence_tests/test_dagster_evidence.py
  libraries/dagster-evidence/pyproject.toml
  libraries/dagster-evidence/uv.lock
Owners: @cmpadden

.github/CODEOWNERS:

*   @cmpadden

/libraries/pipes/   @danielgafni
/libraries/pipes/implementations/java   @GingerYouth @danielgafni
/libraries/pipes/implementations/rust  @cmpadden @christeefy @marijncv
/libraries/dagster-obstore @ion-elgreco
