Repository dagster-io/community-integrations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cmpadden, @JasperHG90, @deepyaman, @ion-elgreco, @danielgafni, @GingerYouth, @christeefy, @marijncv

.github/CODEOWNERS:

*   @cmpadden

/libraries/dagster-iceberg/ @JasperHG90 @deepyaman
/libraries/dagster-obstore/ @ion-elgreco
/libraries/dagster-polars/  @danielgafni
/libraries/pipes/   @danielgafni
/libraries/pipes/implementations/java/  @GingerYouth @danielgafni
/libraries/pipes/implementations/rust/  @cmpadden @christeefy @marijncv

Recognize Daniel and Jasper for their contribution
  README.md
Owners: @cmpadden

[dagster-sdf] Download and install sdf for testing
  .github/workflows/quality-check-dagster-sdf.yml
Owners: @cmpadden

[dagster-sdf] Update the broken documentation link
  libraries/dagster-sdf/README.md
Owners: @cmpadden

[dagster-sdf] Install supported sdf version 0.3.24
  .github/workflows/quality-check-dagster-sdf.yml
Owners: @cmpadden

Release dagster-obstore 0.2.3
  libraries/dagster-obstore/dagster_obstore/__init__.py
Owners: @ion-elgreco

add workflows; set version
  .github/workflows/quality-check-dagster-evidence.yml
  .github/workflows/release-dagster-evidence.yml
  libraries/dagster-evidence/dagster_evidence/__init__.py
Owners: @cmpadden

add test version
  libraries/dagster-evidence/dagster_evidence_tests/test_dagster_evidence.py
  libraries/dagster-evidence/dagster_evidence_tests/test_version.py
  libraries/dagster-evidence/pyproject.toml
Owners: @cmpadden

ruff
  libraries/dagster-evidence/dagster_evidence_tests/test_version.py
Owners: @cmpadden

Get version from `__version__` instead of metadata
  libraries/dagster-hex/dagster_hex/resources.py
  libraries/dagster-hightouch/dagster_hightouch/resources.py
Owners: @cmpadden

[dagster-iceberg] Kill unused `CustomDbIOManager`s
  libraries/dagster-iceberg/tests/io_managers/test_arrow_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_daft_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_pandas_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_polars_io_manager.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Add unit test coverage for Spark
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
Owners: @JasperHG90, @deepyaman

update TARGET java version to 8 - to allow better compatibility with Apache Spark
  libraries/pipes/implementations/java/build.gradle
Owners: @GingerYouth, @danielgafni

copy dagster-evidence to dagster-datahub
  libraries/dagster-datahub/Makefile
  libraries/dagster-datahub/README.md
  libraries/dagster-datahub/dagster_datahub/__init__.py
  libraries/dagster-datahub/dagster_datahub_tests/__init__.py
  libraries/dagster-datahub/dagster_datahub_tests/test_version.py
  libraries/dagster-datahub/pyproject.toml
  libraries/dagster-datahub/uv.lock
Owners: @cmpadden

rename dagster-evidence to dagster-datahub
  libraries/dagster-datahub/README.md
  libraries/dagster-datahub/dagster_datahub/__init__.py
  libraries/dagster-datahub/dagster_datahub_tests/test_version.py
  libraries/dagster-datahub/pyproject.toml
  libraries/dagster-datahub/uv.lock
Owners: @cmpadden

add datahub recipe copied
  libraries/dagster-datahub/dagster_datahub/lib/__init__.py
  libraries/dagster-datahub/dagster_datahub/lib/datahub_recipe.py
  libraries/dagster-datahub/pyproject.toml
Owners: @cmpadden

Smoke test passes
  libraries/dagster-datahub/dagster_datahub/__init__.py
  libraries/dagster-datahub/dagster_datahub/lib/__init__.py
  libraries/dagster-datahub/dagster_datahub/lib/datahub_recipe.py
  libraries/dagster-datahub/dagster_datahub_tests/test_smoke.py
  libraries/dagster-datahub/dagster_datahub_tests/test_version.py
  libraries/dagster-datahub/pyproject.toml
  libraries/dagster-datahub/uv.lock
Owners: @cmpadden

more cleanup
  libraries/dagster-datahub/README.md
  libraries/dagster-datahub/dagster_datahub/lib/datahub_recipe.py
Owners: @cmpadden

[dagster-polars] add Patito integration
  libraries/dagster-polars/CHANGELOG.md
  libraries/dagster-polars/dagster_polars/io_managers/base.py
  libraries/dagster-polars/dagster_polars/io_managers/type_routers.py
  libraries/dagster-polars/dagster_polars/io_managers/utils.py
  libraries/dagster-polars/dagster_polars/patito.py
  libraries/dagster-polars/dagster_polars_tests/test_patito.py
  libraries/dagster-polars/pyproject.toml
  libraries/dagster-polars/uv.lock
Owners: @danielgafni

[dagster-iceberg] Remove usage of `testcontainers`
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/tests/conftest.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Set up Spark Iceberg Compose env
  libraries/dagster-iceberg/tests/docker/Dockerfile
  libraries/dagster-iceberg/tests/docker/compose.yaml
  libraries/dagster-iceberg/tests/docker/entrypoint.sh
  libraries/dagster-iceberg/tests/docker/spark-defaults.conf
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Kill unused `CustomDbIOManager`s
  libraries/dagster-iceberg/tests/io_managers/test_arrow_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_daft_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_pandas_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_polars_io_manager.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Use Compose env to test existing
  libraries/dagster-iceberg/tests/conftest.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Update dependencies in `uv.lock`
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Add unit test coverage for Spark
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
Owners: @JasperHG90, @deepyaman

Enable arrow
  libraries/dagster-iceberg/tests/docker/spark-defaults.conf
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] More testing
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
Owners: @JasperHG90, @deepyaman

Remove exc
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Standardize default catalog name
  libraries/dagster-iceberg/tests/conftest.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Test the `SparkIcebergIOManager`
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
Owners: @JasperHG90, @deepyaman

enable hive support and more?
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
Owners: @JasperHG90, @deepyaman

remove assign
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Make `warehouse_path` idempotent
  libraries/dagster-iceberg/tests/conftest.py
  libraries/dagster-iceberg/tests/docker/compose.yaml
Owners: @JasperHG90, @deepyaman

Make sure namespace is there
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Ensure warehouse dir was deleted
  libraries/dagster-iceberg/tests/conftest.py
Owners: @JasperHG90, @deepyaman

remove e2e test for testing
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Copy Spark config to exec folder
  libraries/dagster-iceberg/spark-defaults.conf
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
Owners: @JasperHG90, @deepyaman

Release dagster-polars 0.27.1
  libraries/dagster-polars/dagster_polars/version.py
Owners: @danielgafni

Try a not temporary directory
  libraries/dagster-iceberg/tests/conftest.py
Owners: @JasperHG90, @deepyaman

Revert "Try a not temporary directory"
  libraries/dagster-iceberg/tests/conftest.py
Owners: @JasperHG90, @deepyaman

use same warehouse path locally and in Docker
  libraries/dagster-iceberg/spark-defaults.conf
  libraries/dagster-iceberg/tests/conftest.py
  libraries/dagster-iceberg/tests/docker/compose.yaml
  libraries/dagster-iceberg/tests/docker/spark-defaults.conf
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
Owners: @JasperHG90, @deepyaman
