Repository dagster-io/community-integrations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cmpadden, @JasperHG90, @deepyaman, @ion-elgreco, @danielgafni, @GingerYouth, @christeefy, @marijncv

z mount
  libraries/dagster-iceberg/tests/docker/compose.yaml
Owners: @JasperHG90, @deepyaman

[dagster-polars] fix DagsterType name generated from patito model
  libraries/dagster-polars/dagster_polars/patito.py
  libraries/dagster-polars/dagster_polars_tests/test_patito.py
Owners: @danielgafni

Revert "z mount"
  libraries/dagster-iceberg/tests/docker/compose.yaml
Owners: @JasperHG90, @deepyaman

Revert "use same warehouse path locally and in Docker"
  libraries/dagster-iceberg/spark-defaults.conf
  libraries/dagster-iceberg/tests/conftest.py
  libraries/dagster-iceberg/tests/docker/compose.yaml
  libraries/dagster-iceberg/tests/docker/spark-defaults.conf
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Make unit tests work in local CI
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/tests/docker/Dockerfile
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Clean up now-unnecessary testing
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
Owners: @JasperHG90, @deepyaman

Revert "[dagster-iceberg] Copy Spark config to exec folder"
  libraries/dagster-iceberg/spark-defaults.conf
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Skip Spark failures in GitHub CI
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
Owners: @JasperHG90, @deepyaman

Revert "remove e2e test for testing"
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @JasperHG90, @deepyaman

dont mutate the job dict during run launcher config evaluation
  libraries/dagster-contrib-gcp/dagster_contrib_gcp/cloud_run/run_launcher.py
Owners: @cmpadden

version bump
  libraries/dagster-contrib-gcp/dagster_contrib_gcp/__init__.py
  libraries/dagster-contrib-gcp/uv.lock
Owners: @cmpadden

changelog
  libraries/dagster-contrib-gcp/CHANGELOG.md
Owners: @cmpadden

Release dagster-polars 0.27.1
  libraries/dagster-polars/dagster_polars/version.py
Owners: @danielgafni

[dagster-iceberg] Add unit test coverage for Spark (#176)
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/tests/conftest.py
  libraries/dagster-iceberg/tests/docker/Dockerfile
  libraries/dagster-iceberg/tests/docker/compose.yaml
  libraries/dagster-iceberg/tests/docker/spark-defaults.conf
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Remove usage of `testcontainers`
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/tests/conftest.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Update dependencies in `uv.lock`
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Add unit test coverage for Spark (#176)
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/tests/conftest.py
  libraries/dagster-iceberg/tests/docker/Dockerfile
  libraries/dagster-iceberg/tests/docker/compose.yaml
  libraries/dagster-iceberg/tests/docker/spark-defaults.conf
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Set up Spark Iceberg Compose env
  libraries/dagster-iceberg/tests/docker/Dockerfile
  libraries/dagster-iceberg/tests/docker/compose.yaml
  libraries/dagster-iceberg/tests/docker/entrypoint.sh
  libraries/dagster-iceberg/tests/docker/spark-defaults.conf
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Use Compose env to test existing
  libraries/dagster-iceberg/tests/conftest.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Stop aliasing `datetime` as `dt`
  libraries/dagster-iceberg/tests/io_managers/test_arrow_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_daft_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_pandas_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_polars_io_manager.py
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Test Spark with hourly partition
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Test Spark with daily partitions
  libraries/dagster-iceberg/tests/io_managers/test_arrow_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_daft_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_pandas_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_polars_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Test Spark with multi partitions
  libraries/dagster-iceberg/tests/io_managers/test_spark_io_manager.py
Owners: @JasperHG90, @deepyaman

[dagster-polars] fix LazyFrame in append mode with PolarsDeltaIOManager
  libraries/dagster-polars/CHANGELOG.md
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
  libraries/dagster-polars/dagster_polars_tests/test_polars_delta.py
Owners: @danielgafni

Release dagster-polars 0.27.1
  libraries/dagster-polars/dagster_polars/version.py
Owners: @danielgafni

Release dagster-polars 0.27.2
  libraries/dagster-polars/dagster_polars/version.py
Owners: @danielgafni

[dagster-iceberg] Make docs build for Dagster site
  libraries/dagster-iceberg/src/dagster_iceberg/config.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/arrow.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/base.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/daft.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/pandas.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/polars.py
  libraries/dagster-iceberg/src/dagster_iceberg/resource.py
Owners: @JasperHG90, @deepyaman

[dagster-polars] update changelog
  libraries/dagster-polars/CHANGELOG.md
Owners: @danielgafni

[dagster-iceberg] Ensure all APIs are in "preview"
  libraries/dagster-iceberg/src/dagster_iceberg/config.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/arrow.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/base.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/daft.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/pandas.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/polars.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @JasperHG90, @deepyaman

Update `is_dagster_package=False` for each package
  libraries/_template/example_integration/__init__.py
  libraries/dagster-anthropic/dagster_anthropic/__init__.py
  libraries/dagster-chroma/dagster_chroma/__init__.py
  libraries/dagster-contrib-gcp/dagster_contrib_gcp/__init__.py
  libraries/dagster-evidence/dagster_evidence/__init__.py
  libraries/dagster-gemini/dagster_gemini/__init__.py
  libraries/dagster-hex/dagster_hex/__init__.py
  libraries/dagster-hightouch/dagster_hightouch/__init__.py
  libraries/dagster-iceberg/src/dagster_iceberg/__init__.py
  libraries/dagster-modal/dagster_modal/__init__.py
  libraries/dagster-notdiamond/dagster_notdiamond/__init__.py
  libraries/dagster-obstore/dagster_obstore/__init__.py
  libraries/dagster-polars/dagster_polars/__init__.py
  libraries/dagster-qdrant/dagster_qdrant/__init__.py
  libraries/dagster-teradata/dagster_teradata/__init__.py
  libraries/dagster-weaviate/dagster_weaviate/__init__.py
Owners: @cmpadden, @JasperHG90, @deepyaman, @ion-elgreco, @danielgafni

[dagster-iceberg] Remove pandas for Polars example
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/polars.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Add API docs for classes without
  libraries/dagster-iceberg/src/dagster_iceberg/handler.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @JasperHG90, @deepyaman

[dagster-polars] fix ImportError with patito and ensure optional deps are not top-level
  libraries/dagster-polars/CHANGELOG.md
  libraries/dagster-polars/dagster_polars/io_managers/base.py
  libraries/dagster-polars/dagster_polars/io_managers/type_routers.py
  libraries/dagster-polars/dagster_polars/patito.py
  libraries/dagster-polars/dagster_polars_tests/conftest.py
  libraries/dagster-polars/dagster_polars_tests/example.py
  libraries/dagster-polars/dagster_polars_tests/test_patito.py
  libraries/dagster-polars/dagster_polars_tests/test_polars_delta.py
  libraries/dagster-polars/dagster_polars_tests/test_polars_parquet.py
  libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers.py
  libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers_lazy.py
  libraries/dagster-polars/pyproject.toml
Owners: @danielgafni

[dagster-iceberg] Add API docs for classes without (#195)
  libraries/dagster-iceberg/src/dagster_iceberg/handler.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @JasperHG90, @deepyaman

corrected ruff errors
  libraries/dagster-teradata/dagster_teradata_tests/test_connection_parameters.py
  libraries/dagster-teradata/dagster_teradata_tests/test_teradata_resource.py
Owners: @cmpadden

initial_commit
  .gitignore
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata/ttu.py
  libraries/dagster-teradata/dagster_teradata_tests/functional/test_execute_bteq.py
Owners: @cmpadden

optimized
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata/ttu.py
  libraries/dagster-teradata/dagster_teradata_tests/functional/test_execute_bteq.py
Owners: @cmpadden

added test cases
  libraries/dagster-teradata/dagster_teradata_tests/functional/test_execute_bteq.py
Owners: @cmpadden

Added timeout
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata/ttu.py
  libraries/dagster-teradata/dagster_teradata_tests/functional/test_execute_bteq.py
Owners: @cmpadden

Release dagster-teradata 0.0.3
  libraries/dagster-teradata/dagster_teradata/__init__.py
Owners: @cmpadden

.github/CODEOWNERS:

*   @cmpadden

/libraries/dagster-iceberg/ @JasperHG90 @deepyaman
/libraries/dagster-obstore/ @ion-elgreco
/libraries/dagster-polars/  @danielgafni
/libraries/pipes/   @danielgafni
/libraries/pipes/implementations/java/  @GingerYouth @danielgafni
/libraries/pipes/implementations/rust/  @cmpadden @christeefy @marijncv
