Repository dagster-io/community-integrations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cmpadden, @JasperHG90, @deepyaman, @ion-elgreco, @danielgafni, @GingerYouth, @christeefy, @marijncv

.github/CODEOWNERS:

*   @cmpadden

/libraries/dagster-iceberg/ @JasperHG90 @deepyaman
/libraries/dagster-obstore/ @ion-elgreco
/libraries/dagster-polars/  @danielgafni
/libraries/pipes/   @danielgafni
/libraries/pipes/implementations/java/  @GingerYouth @danielgafni
/libraries/pipes/implementations/rust/  @cmpadden @christeefy @marijncv

ruff
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
Owners: @danielgafni

ignore pyright for older syntax
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
Owners: @danielgafni

ruff
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
Owners: @danielgafni

parse polars version
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
Owners: @danielgafni

require polars and deltalake recent versions with fix
  libraries/dagster-polars/pyproject.toml
  libraries/dagster-polars/uv.lock
Owners: @danielgafni

move overwrite schema to delta write options
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
  libraries/dagster-polars/dagster_polars_tests/test_polars_delta.py
  libraries/dagster-polars/pyproject.toml
  libraries/dagster-polars/uv.lock
Owners: @danielgafni

disallow mode arg in delta_write_options
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
  libraries/dagster-polars/dagster_polars_tests/test_polars_delta.py
Owners: @danielgafni

ruff and fix of wrong delta write option syntax
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
  libraries/dagster-polars/dagster_polars_tests/test_polars_delta.py
Owners: @danielgafni

rollback dependency bump
  libraries/dagster-polars/pyproject.toml
  libraries/dagster-polars/uv.lock
Owners: @danielgafni

add safeguard for incompatible polars and deltalake versions
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
Owners: @danielgafni

add compatibility for older versions
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
Owners: @danielgafni

fix tests with overwrite schema invalid passing method
  libraries/dagster-polars/dagster_polars_tests/test_polars_delta.py
Owners: @danielgafni

remove legacy overwrite_schema mode and raise valueErr for incompatible versions
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
Owners: @danielgafni

docstring and error clarification
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
Owners: @danielgafni

additional safeguard for deltalake old version
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
Owners: @danielgafni

bump uv.lock deltalake
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
  libraries/dagster-polars/uv.lock
Owners: @danielgafni

add workaround for polars panic in tests on recent versions
  libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers.py
  libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers_lazy.py
Owners: @danielgafni

add basic merge functionality and tests for nonpartitioned assets
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
  libraries/dagster-polars/dagster_polars_tests/test_polars_delta.py
Owners: @danielgafni

fix wrong walrus use
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
Owners: @danielgafni

update unreleased changelog
  libraries/dagster-polars/CHANGELOG.md
Owners: @danielgafni

add test for merge of partitioned asset
  libraries/dagster-polars/dagster_polars_tests/test_polars_delta.py
Owners: @danielgafni

add full merge selection and predicate support
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
  libraries/dagster-polars/dagster_polars_tests/test_polars_delta.py
Owners: @danielgafni

add tests for granular delta merge commands
  libraries/dagster-polars/dagster_polars_tests/test_polars_delta.py
Owners: @danielgafni

ruff
  libraries/dagster-polars/dagster_polars_tests/test_polars_delta.py
Owners: @danielgafni

update changelog and docstring
  libraries/dagster-polars/CHANGELOG.md
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
Owners: @danielgafni

Release dagster-evidence 0.1.6
  libraries/dagster-evidence/dagster_evidence/__init__.py
Owners: @cmpadden

Release dagster-teradata 0.0.4
  libraries/dagster-teradata/dagster_teradata/__init__.py
Owners: @cmpadden

Release dagster-iceberg 0.3.2
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

Release dagster-iceberg 0.3.1
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

Release dagster-iceberg 0.3.3
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

Release dagster-teradata 0.0.5
  libraries/dagster-teradata/dagster_teradata/__init__.py
Owners: @cmpadden

Release dagster-polars 0.27.1
  libraries/dagster-polars/dagster_polars/version.py
Owners: @danielgafni

Release dagster-polars 0.27.3
  libraries/dagster-polars/dagster_polars/version.py
Owners: @danielgafni

handle single partition key
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
Owners: @danielgafni

fix merge dropped import and ruff
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
Owners: @danielgafni

update changelog
  libraries/dagster-polars/CHANGELOG.md
Owners: @danielgafni

cleanup version parse multiple syntax
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
Owners: @danielgafni

readjust changelog after yanked release
  libraries/dagster-polars/CHANGELOG.md
Owners: @danielgafni

add condition for pyright
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
Owners: @danielgafni

Release dagster-iceberg 0.3.3
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman
