Repository dagster-io/community-integrations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cmpadden, @danielgafni, @GingerYouth, @christeefy, @marijncv, @ion-elgreco

.github/CODEOWNERS:

*   @cmpadden

/libraries/pipes/   @danielgafni
/libraries/pipes/implementations/java   @GingerYouth @danielgafni
/libraries/pipes/implementations/rust  @cmpadden @christeefy @marijncv
/libraries/dagster-obstore @ion-elgreco

[dagster-iceberg] Only materialize Polars in tests
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @cmpadden

[dagster-iceberg] Test end-to-end Spark read/write
  libraries/dagster-iceberg/kitchen-sink/Makefile
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @cmpadden

[dagster-iceberg] Reduce `NUM_PARTS` for faster CI
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
Owners: @cmpadden

[dagster-iceberg] Centralize using one I/O manager
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/__init__.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/arrow.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/daft.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/pandas.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/polars.py
  libraries/dagster-iceberg/src/dagster_iceberg/type_handlers/_arrow.py
  libraries/dagster-iceberg/src/dagster_iceberg/type_handlers/_base.py
  libraries/dagster-iceberg/src/dagster_iceberg/type_handlers/_daft.py
  libraries/dagster-iceberg/src/dagster_iceberg/type_handlers/_pandas.py
  libraries/dagster-iceberg/src/dagster_iceberg/type_handlers/_polars.py
  libraries/dagster-iceberg/tests/_db_io_manager/test_db_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_arrow_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_base_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_daft_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_pandas_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_polars_io_manager.py
Owners: @cmpadden

override default config per job
  libraries/dagster-contrib-gcp/README.md
  libraries/dagster-contrib-gcp/dagster_contrib_gcp/cloud_run/run_launcher.py
Owners: @cmpadden

test_launch_run
  libraries/dagster-contrib-gcp/uv.lock
Owners: @cmpadden

add test case, fixtures
  libraries/dagster-contrib-gcp/dagster_contrib_gcp_tests/cloud_run_tests/conftest.py
  libraries/dagster-contrib-gcp/dagster_contrib_gcp_tests/cloud_run_tests/test_run_launcher.py
  libraries/dagster-contrib-gcp/uv.lock
Owners: @cmpadden

code checks
  libraries/dagster-contrib-gcp/dagster_contrib_gcp/cloud_run/run_launcher.py
  libraries/dagster-contrib-gcp/dagster_contrib_gcp_tests/cloud_run_tests/test_run_launcher.py
  libraries/dagster-contrib-gcp/uv.lock
Owners: @cmpadden

[dagster-iceberg] Only materialize Polars in tests
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @cmpadden

[dagster-iceberg] Ignore the bad typing in Dagster
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @cmpadden

[dagster-iceberg] Create a `SparkIcebergIOManager`
  libraries/dagster-iceberg/kitchen-sink/Makefile
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/base.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
  libraries/dagster-iceberg/uv.lock
Owners: @cmpadden

[dagster-iceberg] Make `NUM_PARTS` a config option
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
Owners: @cmpadden

[dagster-iceberg] Test end-to-end Spark read/write
  libraries/dagster-iceberg/kitchen-sink/Makefile
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @cmpadden

[dagster-iceberg] Reduce `NUM_PARTS` for faster CI
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
Owners: @cmpadden

[dagster-iceberg] Test with `SPARK_REMOTE` env var
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @cmpadden

[dagster-iceberg] Use a faster, non-archive mirror
  libraries/dagster-iceberg/kitchen-sink/Dockerfile
Owners: @cmpadden

[dagster-iceberg] Upgrade deps (including PySpark)
  libraries/dagster-iceberg/uv.lock
Owners: @cmpadden

[dagster-iceberg] Wait for Docker services to rise
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
Owners: @cmpadden

[dagster-iceberg] Remove dupe kitchen_sink.py file
  libraries/dagster-iceberg/kitchen_sink.py
Owners: @cmpadden

pass job env at execution
  libraries/dagster-contrib-gcp/README.md
  libraries/dagster-contrib-gcp/dagster_contrib_gcp/cloud_run/run_launcher.py
Owners: @cmpadden

resolve secret, env var or explicit configuration
  libraries/dagster-contrib-gcp/README.md
  libraries/dagster-contrib-gcp/dagster_contrib_gcp/cloud_run/run_launcher.py
  libraries/dagster-contrib-gcp/pyproject.toml
  libraries/dagster-contrib-gcp/uv.lock
Owners: @cmpadden

pyright checks
  libraries/dagster-contrib-gcp/dagster_contrib_gcp/cloud_run/run_launcher.py
Owners: @cmpadden

test env override functionaltiy with mock
  libraries/dagster-contrib-gcp/dagster_contrib_gcp_tests/cloud_run_tests/test_run_launcher.py
Owners: @cmpadden

pyright, changelog, version
  libraries/dagster-contrib-gcp/CHANGELOG.md
  libraries/dagster-contrib-gcp/dagster_contrib_gcp/cloud_run/run_launcher.py
  libraries/dagster-contrib-gcp/dagster_contrib_gcp_tests/cloud_run_tests/test_run_launcher.py
  libraries/dagster-contrib-gcp/pyproject.toml
  libraries/dagster-contrib-gcp/uv.lock
Owners: @cmpadden

[dagster-iceberg] Centralize using one I/O manager
  libraries/dagster-iceberg/kitchen-sink/kitchen_sink.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/__init__.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/arrow.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/daft.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/pandas.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/polars.py
  libraries/dagster-iceberg/src/dagster_iceberg/spark.py
  libraries/dagster-iceberg/src/dagster_iceberg/type_handlers/_arrow.py
  libraries/dagster-iceberg/src/dagster_iceberg/type_handlers/_base.py
  libraries/dagster-iceberg/src/dagster_iceberg/type_handlers/_daft.py
  libraries/dagster-iceberg/src/dagster_iceberg/type_handlers/_pandas.py
  libraries/dagster-iceberg/src/dagster_iceberg/type_handlers/_polars.py
  libraries/dagster-iceberg/tests/_db_io_manager/test_db_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_arrow_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_base_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_daft_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_pandas_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_polars_io_manager.py
Owners: @cmpadden

[dagster-iceberg] Only register handlers with deps
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_polars_io_manager.py
  libraries/dagster-iceberg/uv.lock
Owners: @cmpadden

[dagster-iceberg] Demonstrate issue with other way
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager.py
Owners: @cmpadden

[dagster-iceberg] Revert changes for demo purposes
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager.py
Owners: @cmpadden

[dagster-iceberg] Rename test, patch out more mods
  libraries/dagster-iceberg/tests/io_managers/test_polars_io_manager.py
Owners: @cmpadden

[dagster-iceberg] Exclusively handle `ImportError`
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager.py
Owners: @cmpadden

[dagster-iceberg] Expand missing lib tests to rest
  libraries/dagster-iceberg/tests/io_managers/test_arrow_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_daft_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_pandas_io_manager.py
Owners: @cmpadden

Move type check to unblock dagster-hightouch tests
  .github/workflows/template-quality-check.yml
Owners: @cmpadden

Reference the version in file with no dependencies
  libraries/dagster-sdf/pyproject.toml
Owners: @cmpadden

Replace `__version__ = "X.X.X"` to release package
  release.sh
Owners: @cmpadden

Enable telemetry across all community integrations
  libraries/_template/example_integration/__init__.py
  libraries/dagster-anthropic/dagster_anthropic/__init__.py
  libraries/dagster-chroma/dagster_chroma/__init__.py
  libraries/dagster-contrib-gcp/dagster_contrib_gcp/__init__.py
  libraries/dagster-gemini/dagster_gemini/__init__.py
  libraries/dagster-hex/dagster_hex/__init__.py
  libraries/dagster-hightouch/dagster_hightouch/__init__.py
  libraries/dagster-iceberg/src/dagster_iceberg/__init__.py
  libraries/dagster-modal/dagster_modal/__init__.py
  libraries/dagster-notdiamond/dagster_notdiamond/__init__.py
  libraries/dagster-obstore/dagster_obstore/__init__.py
  libraries/dagster-qdrant/dagster_qdrant/__init__.py
  libraries/dagster-teradata/dagster_teradata/__init__.py
  libraries/dagster-weaviate/dagster_weaviate/__init__.py
Owners: @cmpadden, @ion-elgreco

Enable telemetry across all community integrations
  libraries/_template/example_integration/__init__.py
  libraries/dagster-anthropic/dagster_anthropic/__init__.py
  libraries/dagster-chroma/dagster_chroma/__init__.py
  libraries/dagster-contrib-gcp/dagster_contrib_gcp/__init__.py
  libraries/dagster-gemini/dagster_gemini/__init__.py
  libraries/dagster-hex/dagster_hex/__init__.py
  libraries/dagster-hightouch/dagster_hightouch/__init__.py
  libraries/dagster-iceberg/src/dagster_iceberg/__init__.py
  libraries/dagster-modal/dagster_modal/__init__.py
  libraries/dagster-notdiamond/dagster_notdiamond/__init__.py
  libraries/dagster-obstore/dagster_obstore/__init__.py
  libraries/dagster-qdrant/dagster_qdrant/__init__.py
  libraries/dagster-teradata/dagster_teradata/__init__.py
  libraries/dagster-weaviate/dagster_weaviate/__init__.py
Owners: @cmpadden, @ion-elgreco

Replace `__version__ = "X.X.X"` to release package
  release.sh
Owners: @cmpadden

Reference the version in file with no dependencies
  libraries/dagster-sdf/pyproject.toml
Owners: @cmpadden

chore: bump >= obstore-0.6
  libraries/dagster-obstore/dagster_obstore/_base/log_manager.py
  libraries/dagster-obstore/dagster_obstore/azure/compute_log_manager.py
  libraries/dagster-obstore/dagster_obstore/azure/resource.py
  libraries/dagster-obstore/dagster_obstore/gcs/compute_log_manager.py
  libraries/dagster-obstore/dagster_obstore/gcs/resource.py
  libraries/dagster-obstore/dagster_obstore/s3/compute_log_manager.py
  libraries/dagster-obstore/dagster_obstore/s3/resource.py
  libraries/dagster-obstore/dagster_obstore_tests/conftest.py
  libraries/dagster-obstore/pyproject.toml
  libraries/dagster-obstore/uv.lock
Owners: @ion-elgreco

chore: bump version
  libraries/dagster-obstore/pyproject.toml
Owners: @ion-elgreco
