Repository dagster-io/community-integrations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cmpadden, @danielgafni, @GingerYouth, @christeefy, @marijncv

.github/CODEOWNERS:

*   @cmpadden

/libraries/pipes/   @danielgafni
/libraries/pipes/implementations/java   @GingerYouth @danielgafni
/libraries/pipes/implementations/rust  @cmpadden @christeefy @marijncv

use ::new to create the metadata value
  libraries/pipes/implementations/rust/example-dagster-pipes-rust-project/rust_processing_jobs/src/main.rs
Owners: @cmpadden, @christeefy, @marijncv

use resource dependency for logger
  libraries/dagster-hex/dagster_hex/resources.py
Owners: @cmpadden

[dagster-pipes-tests] refactor and modularize tests
  libraries/pipes/implementations/java/dagster-pipes-java/README.md
  libraries/pipes/implementations/java/dagster-pipes-java/pipes.toml
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/pipes/utils/Example.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/PipesTests.java
  libraries/pipes/implementations/java/dagster-pipes-java/uv.lock
  libraries/pipes/tests/dagster-pipes-tests/README.md
  libraries/pipes/tests/dagster-pipes-tests/pipes.toml
  libraries/pipes/tests/dagster-pipes-tests/pyproject.toml
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/__init__.py
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/cases/__init__.py
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/cases/context_injector.py
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/cases/message_reader.py
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/constants.py
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/data/cases/custom_payload.json
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/data/cases/log_message.json
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/data/cases/metadata.json
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/data/static/metadata.json
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/pipes_config.py
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/suite.py
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/utils/message_reader.py
  libraries/pipes/tests/dagster-pipes-tests/uv.lock
Owners: @GingerYouth, @danielgafni

🥅 Catch error in message_writer_channel module
  libraries/pipes/implementations/rust/src/writer/message_writer_channel.rs
Owners: @cmpadden, @christeefy, @marijncv

Bubble changes to lib.rs
  libraries/pipes/implementations/rust/src/lib.rs
Owners: @cmpadden, @christeefy, @marijncv

📝 Update changelog
  libraries/pipes/implementations/rust/CHANGELOG.md
Owners: @cmpadden, @christeefy, @marijncv

Update example
  libraries/pipes/implementations/rust/example-dagster-pipes-rust-project/rust_processing_jobs/src/main.rs
Owners: @cmpadden, @christeefy, @marijncv

use cached property
  libraries/dagster-hex/dagster_hex/resources.py
Owners: @cmpadden

wip
  libraries/pipes/Makefile
  libraries/pipes/implementations/java/dagster-pipes-java/jsonschema/pipes/PipesContext.schema.json
  libraries/pipes/implementations/java/dagster-pipes-java/jsonschema/pipes/PipesException.schema.json
  libraries/pipes/implementations/java/dagster-pipes-java/jsonschema/pipes/PipesLog.schema.json
  libraries/pipes/implementations/java/dagster-pipes-java/jsonschema/pipes/PipesMessage.schema.json
  libraries/pipes/implementations/java/dagster-pipes-java/jsonschema/pipes/PipesMetadataValue.schema.json
  libraries/pipes/implementations/java/dagster-pipes-java/quicktype.sh
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/ContextClass.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/PipesContextData.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/PipesException.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/PipesExceptionClass.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/PipesMessage.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/RawValue.java
  libraries/pipes/implementations/rust/quicktype.sh
  libraries/pipes/implementations/rust/src/types.rs
  libraries/pipes/jsonschema/PipesContextData.schema.json
  libraries/pipes/jsonschema/PipesException.schema.json
  libraries/pipes/jsonschema/PipesLog.schema.json
  libraries/pipes/jsonschema/PipesMessage.schema.json
  libraries/pipes/jsonschema/PipesMetadataValue.schema.json
Owners: @danielgafni, @GingerYouth, @cmpadden, @christeefy, @marijncv

small java implementation fixes
  libraries/pipes/Makefile
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/pipes/PipesContext.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/pipes/data/PipesContextData.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/pipes/loaders/PipesContextLoader.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/pipes/loaders/PipesDefaultContextLoader.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/pipes/loaders/PipesS3ContextLoader.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/ContextClass.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/PipesContext.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/PipesContextData.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/PipesException.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/PipesExceptionClass.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/PipesLog.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/PipesMetadataValue.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/RawValue.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/DataLoader.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/PipesTests.java
  libraries/pipes/implementations/rust/src/types.rs
  libraries/pipes/jsonschema/PipesLog.schema.json
Owners: @danielgafni, @GingerYouth, @cmpadden, @christeefy, @marijncv

revert java changes
  libraries/pipes/Makefile
  libraries/pipes/implementations/java/dagster-pipes-java/jsonschema/pipes/PipesContext.schema.json
  libraries/pipes/implementations/java/dagster-pipes-java/jsonschema/pipes/PipesException.schema.json
  libraries/pipes/implementations/java/dagster-pipes-java/jsonschema/pipes/PipesLog.schema.json
  libraries/pipes/implementations/java/dagster-pipes-java/jsonschema/pipes/PipesMessage.schema.json
  libraries/pipes/implementations/java/dagster-pipes-java/jsonschema/pipes/PipesMetadataValue.schema.json
  libraries/pipes/implementations/java/dagster-pipes-java/quicktype.sh
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/pipes/PipesContext.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/pipes/data/PipesContextData.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/pipes/loaders/PipesContextLoader.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/pipes/loaders/PipesDefaultContextLoader.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/pipes/loaders/PipesS3ContextLoader.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/ContextClass.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/PipesContext.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/PipesException.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/PipesExceptionClass.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/PipesMessage.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/PipesMetadataValue.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/RawValue.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/DataLoader.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/PipesTests.java
Owners: @danielgafni, @GingerYouth

further revert & json formatting
  libraries/pipes/implementations/java/dagster-pipes-java/jsonschema/pipes/PipesContext.schema.json
  libraries/pipes/implementations/java/dagster-pipes-java/jsonschema/pipes/PipesException.schema.json
  libraries/pipes/implementations/java/dagster-pipes-java/jsonschema/pipes/PipesLog.schema.json
  libraries/pipes/implementations/java/dagster-pipes-java/jsonschema/pipes/PipesMessage.schema.json
  libraries/pipes/implementations/java/dagster-pipes-java/jsonschema/pipes/PipesMetadataValue.schema.json
  libraries/pipes/implementations/java/dagster-pipes-java/quicktype.sh
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/ContextClass.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/PipesContextData.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/PipesException.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/types/PipesExceptionClass.java
Owners: @GingerYouth, @danielgafni

revert formatting
  libraries/pipes/implementations/java/dagster-pipes-java/jsonschema/pipes/PipesContext.schema.json
  libraries/pipes/implementations/java/dagster-pipes-java/jsonschema/pipes/PipesMessage.schema.json
  libraries/pipes/implementations/java/dagster-pipes-java/jsonschema/pipes/PipesMetadataValue.schema.json
Owners: @GingerYouth, @danielgafni

cargo fmt
  libraries/pipes/implementations/rust/src/types.rs
Owners: @cmpadden, @christeefy, @marijncv

Improve jsonschema optional fields
  libraries/pipes/jsonschema/PipesContextData.schema.json
  libraries/pipes/jsonschema/PipesException.schema.json
Owners: @danielgafni

🔥 Simplify user-facing API
  libraries/pipes/implementations/rust/example-dagster-pipes-rust-project/rust_processing_jobs/src/main.rs
  libraries/pipes/implementations/rust/src/lib.rs
  libraries/pipes/implementations/rust/src/types_ext.rs
  libraries/pipes/implementations/rust/src/writer/message_writer_channel.rs
Owners: @cmpadden, @christeefy, @marijncv

📝 Update changelog
  libraries/pipes/implementations/rust/CHANGELOG.md
Owners: @cmpadden, @christeefy, @marijncv

move asset check severity into jsonschema definition
  libraries/pipes/Makefile
  libraries/pipes/implementations/rust/src/lib.rs
  libraries/pipes/implementations/rust/src/types.rs
  libraries/pipes/jsonschema/AssetCheckSeverity.schema.json
Owners: @danielgafni, @cmpadden, @christeefy, @marijncv

changelog
  libraries/pipes/implementations/rust/CHANGELOG.md
Owners: @cmpadden, @christeefy, @marijncv

update example project with the right import
  libraries/pipes/implementations/rust/example-dagster-pipes-rust-project/rust_processing_jobs/src/main.rs
Owners: @cmpadden, @christeefy, @marijncv

🔥 Apply simplification
  libraries/pipes/implementations/rust/example-dagster-pipes-rust-project/rust_processing_jobs/src/main.rs
  libraries/pipes/implementations/rust/src/lib.rs
Owners: @cmpadden, @christeefy, @marijncv

🎨 Rearrange examples in test
  libraries/pipes/implementations/rust/src/lib.rs
Owners: @cmpadden, @christeefy, @marijncv

🔥 Use `From` trait where possible
  libraries/pipes/implementations/rust/src/types_ext.rs
Owners: @cmpadden, @christeefy, @marijncv

[dagster-pipes-rust] update readme on how to generate quicktypes
  libraries/pipes/implementations/rust/README.md
Owners: @cmpadden, @christeefy, @marijncv

make pipes version a constant
  libraries/pipes/implementations/rust/src/lib.rs
  libraries/pipes/implementations/rust/src/types_ext.rs
Owners: @cmpadden, @christeefy, @marijncv

add changelog
  libraries/pipes/implementations/rust/CHANGELOG.md
Owners: @cmpadden, @christeefy, @marijncv

Only re-export `PipesMetadataValue` for public use
  libraries/pipes/implementations/rust/example-dagster-pipes-rust-project/rust_processing_jobs/src/main.rs
  libraries/pipes/implementations/rust/src/lib.rs
Owners: @cmpadden, @christeefy, @marijncv

📝 Sort exports and update docs for public-facing traits
  libraries/pipes/implementations/rust/src/context_loader.rs
  libraries/pipes/implementations/rust/src/lib.rs
  libraries/pipes/implementations/rust/src/params_loader.rs
  libraries/pipes/implementations/rust/src/writer/message_writer.rs
Owners: @cmpadden, @christeefy, @marijncv

📝 Update changelog
  libraries/pipes/implementations/rust/CHANGELOG.md
Owners: @cmpadden, @christeefy, @marijncv

[dagster-contrib-notdiamond] Updating examples to focus on `@asset` usage.
  libraries/dagster-contrib-notdiamond/README.md
  libraries/dagster-contrib-notdiamond/dagster_contrib_notdiamond/__init__.py
  libraries/dagster-contrib-notdiamond/dagster_contrib_notdiamond/resources.py
  libraries/dagster-contrib-notdiamond/example_job/__init__.py
  libraries/dagster-contrib-notdiamond/example_job/example_notdiamond.py
  libraries/dagster-contrib-notdiamond/pyproject.toml
  libraries/dagster-contrib-notdiamond/uv.lock
Owners: @cmpadden

updating tests with slimmed api
  libraries/dagster-contrib-notdiamond/dagster_contrib_notdiamond_tests/test_resources.py
Owners: @cmpadden

ruff and test fixes
  libraries/dagster-contrib-notdiamond/CHANGELOG.md
  libraries/dagster-contrib-notdiamond/dagster_contrib_notdiamond/__init__.py
  libraries/dagster-contrib-notdiamond/dagster_contrib_notdiamond/resources.py
  libraries/dagster-contrib-notdiamond/dagster_contrib_notdiamond_tests/test_resources.py
  libraries/dagster-contrib-notdiamond/example_job/example_notdiamond.py
Owners: @cmpadden

wip
  libraries/pipes/implementations/rust/Cargo.toml
  libraries/pipes/implementations/rust/pipes.toml
  libraries/pipes/implementations/rust/pyproject.toml
  libraries/pipes/implementations/rust/src/bin/main_test.rs
  libraries/pipes/implementations/rust/tests/__init__.py
  libraries/pipes/implementations/rust/tests/conftest.py
  libraries/pipes/implementations/rust/tests/test_pipes.py
  libraries/pipes/implementations/rust/uv.lock
Owners: @cmpadden, @christeefy, @marijncv

use PipesMessage::new in opening the context
  libraries/pipes/implementations/rust/src/lib.rs
  libraries/pipes/implementations/rust/src/writer/message_writer.rs
Owners: @cmpadden, @christeefy, @marijncv

use PipesMessage::new in the tests
  libraries/pipes/implementations/rust/src/lib.rs
Owners: @cmpadden, @christeefy, @marijncv

📝 Sort exports and update docs for public-facing traits (#64)
  libraries/pipes/implementations/rust/src/context_loader.rs
  libraries/pipes/implementations/rust/src/lib.rs
  libraries/pipes/implementations/rust/src/params_loader.rs
  libraries/pipes/implementations/rust/src/writer/message_writer.rs
Owners: @cmpadden, @christeefy, @marijncv

Reimplement null
  libraries/pipes/implementations/rust/src/types_ext.rs
Owners: @cmpadden, @christeefy, @marijncv

Update unit test
  libraries/pipes/implementations/rust/src/lib.rs
Owners: @cmpadden, @christeefy, @marijncv

initial parser
  libraries/pipes/implementations/rust/src/bin/main_test.rs
Owners: @cmpadden, @christeefy, @marijncv

skip most tests
  libraries/pipes/implementations/rust/pipes.toml
  libraries/pipes/implementations/rust/src/bin/test_pipes.rs
  libraries/pipes/implementations/rust/src/lib.rs
  libraries/pipes/implementations/rust/src/params_loader.rs
  libraries/pipes/implementations/rust/tests/test_pipes.py
Owners: @cmpadden, @christeefy, @marijncv
