Repository dagster-io/community-integrations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cmpadden, @JasperHG90, @deepyaman, @ion-elgreco, @danielgafni, @GingerYouth, @christeefy, @marijncv

Release dagster-async-executor 0.0.3
  libraries/dagster-async-executor/dagster_async_executor/__init__.py
Owners: @cmpadden

Release dagster-chroma 0.0.5
  libraries/dagster-chroma/dagster_chroma/__init__.py
Owners: @cmpadden

Release dagster-contrib-gcp 0.0.10
  libraries/dagster-contrib-gcp/dagster_contrib_gcp/__init__.py
Owners: @cmpadden

Release dagster-dataform 0.0.7
  libraries/dagster-dataform/dagster_dataform/__init__.py
Owners: @cmpadden

Release dagster-ducklake 0.0.4
  libraries/dagster-ducklake/dagster_ducklake/__init__.py
Owners: @cmpadden

Release dagster-elasticsearch 0.0.2
  libraries/dagster-elasticsearch/dagster_elasticsearch/__init__.py
Owners: @cmpadden

Release dagster-evidence 0.2.1
  libraries/dagster-evidence/dagster_evidence/__init__.py
Owners: @cmpadden

Release dagster-gemini 0.0.6
  libraries/dagster-gemini/dagster_gemini/__init__.py
Owners: @cmpadden

Release dagster-hex 0.1.10
  libraries/dagster-hex/dagster_hex/__init__.py
Owners: @cmpadden

Release dagster-iceberg 0.3.13
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

Release dagster-modal 0.0.5
  libraries/dagster-modal/dagster_modal/__init__.py
Owners: @cmpadden

Release dagster-notdiamond 0.0.5
  libraries/dagster-notdiamond/dagster_notdiamond/__init__.py
Owners: @cmpadden

Release dagster-obstore 0.2.5
  libraries/dagster-obstore/dagster_obstore/__init__.py
Owners: @ion-elgreco

Release dagster-openlineage 0.2.1
  libraries/dagster-openlineage/dagster_openlineage/version.py
Owners: @cmpadden

Release dagster-polars 0.27.12
  libraries/dagster-polars/dagster_polars/version.py
Owners: @danielgafni

Release dagster-qdrant 0.0.4
  libraries/dagster-qdrant/dagster_qdrant/__init__.py
Owners: @cmpadden

Release dagster-salesforce 0.0.3
  libraries/dagster-salesforce/dagster_salesforce/__init__.py
Owners: @cmpadden

Release dagster-sftp 0.0.3
  libraries/dagster-sftp/dagster_sftp/__init__.py
Owners: @cmpadden

Release dagster-sharepoint 0.0.4
  libraries/dagster-sharepoint/dagster_sharepoint/__init__.py
Owners: @cmpadden

Release dagster-teradata 0.0.8
  libraries/dagster-teradata/dagster_teradata/__init__.py
Owners: @cmpadden

Release dagster-vertexai 0.0.2
  libraries/dagster-vertexai/dagster_vertexai/__init__.py
Owners: @cmpadden

Release dagster-weaviate 0.0.4
  libraries/dagster-weaviate/dagster_weaviate/__init__.py
Owners: @cmpadden

Release dagster-xquik 0.0.2
  libraries/dagster-xquik/dagster_xquik/__init__.py
Owners: @cmpadden

update type checking with ty.
  libraries/dagster-hf-datasets/pyproject.toml
  libraries/dagster-hf-datasets/uv.lock
Owners: @cmpadden

fix(dagster-iceberg): add reader_override option to PolarsIcebergIOManager
  libraries/dagster-iceberg/CHANGELOG.md
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/polars.py
  libraries/dagster-iceberg/tests/unit/test_polars_reader_override.py
Owners: @JasperHG90, @deepyaman

fix: use str | None for reader_override to satisfy Dagster config type system
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/polars.py
  libraries/dagster-iceberg/tests/unit/test_polars_reader_override.py
Owners: @JasperHG90, @deepyaman

fix(dagster-iceberg): add reader_override option to PolarsIcebergIOManager (#323)
  libraries/dagster-iceberg/CHANGELOG.md
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/polars.py
  libraries/dagster-iceberg/tests/unit/test_polars_reader_override.py
Owners: @JasperHG90, @deepyaman

Release dagster-iceberg 0.3.14
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

Add `hf datasets` for Dagster (#288)
  libraries/dagster-hf-datasets/Makefile
  libraries/dagster-hf-datasets/README.md
  libraries/dagster-hf-datasets/dagster_hf_datasets/__init__.py
  libraries/dagster-hf-datasets/dagster_hf_datasets/_export/__init__.py
  libraries/dagster-hf-datasets/dagster_hf_datasets/_export/_dataset_card.py
  libraries/dagster-hf-datasets/dagster_hf_datasets/_export/_publisher.py
  libraries/dagster-hf-datasets/dagster_hf_datasets/_metadata/__init__.py
  libraries/dagster-hf-datasets/dagster_hf_datasets/_metadata/_dataset_metadata.py
  libraries/dagster-hf-datasets/dagster_hf_datasets/_partitions/__init__.py
  libraries/dagster-hf-datasets/dagster_hf_datasets/_partitions/_partition_mapping.py
  libraries/dagster-hf-datasets/dagster_hf_datasets/assets/__init__.py
  libraries/dagster-hf-datasets/dagster_hf_datasets/assets/dataset_asset.py
  libraries/dagster-hf-datasets/dagster_hf_datasets/assets/multi_asset.py
  libraries/dagster-hf-datasets/dagster_hf_datasets/io_manager/__init__.py
  libraries/dagster-hf-datasets/dagster_hf_datasets/io_manager/_io_manager.py
  libraries/dagster-hf-datasets/dagster_hf_datasets/resources/__init__.py
  libraries/dagster-hf-datasets/dagster_hf_datasets/resources/huggingface_resource.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/__init__.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/conftest.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_dataset_asset.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_dataset_card.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_dataset_metadata.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_huggingface_resource.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_io_manager.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_multi_asset.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_partition_mapping.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_publisher.py
  libraries/dagster-hf-datasets/docs/API.md
  libraries/dagster-hf-datasets/docs/Usage.md
  libraries/dagster-hf-datasets/docs/assets/dagster_readme_logo.jpg
  libraries/dagster-hf-datasets/examples/basic_asset_pipeline.py
  libraries/dagster-hf-datasets/examples/dataset_pipeline.py
  libraries/dagster-hf-datasets/examples/multi_asset_pipeline.py
  libraries/dagster-hf-datasets/pyproject.toml
  libraries/dagster-hf-datasets/uv.lock
Owners: @cmpadden

Prepare dagster-hf-datasets for release
  libraries/dagster-hf-datasets/Makefile
  libraries/dagster-hf-datasets/pyproject.toml
  release.sh
Owners: @cmpadden

Mitigate template injection in release workflow
  .github/workflows/template-release.yml
Owners: @cmpadden

update logo paths for readme, fix broken links and nits in docs.
  libraries/dagster-hf-datasets/README.md
  libraries/dagster-hf-datasets/docs/API.md
  libraries/dagster-hf-datasets/docs/Usage.md
Owners: @cmpadden

create changelog.md as well.
  libraries/dagster-hf-datasets/CHANGELOG.md
Owners: @cmpadden

update project data in pyproject.toml
  libraries/dagster-hf-datasets/CHANGELOG.md
  libraries/dagster-hf-datasets/pyproject.toml
Owners: @cmpadden

fix lint issue.
  libraries/dagster-hf-datasets/pyproject.toml
Owners: @cmpadden

rm deprecated field
  libraries/dagster-hf-datasets/pyproject.toml
Owners: @cmpadden

chore(dagster-async-executor): add pytest-timeout dev dep, de-dupe pytest
  libraries/dagster-async-executor/pyproject.toml
  libraries/dagster-async-executor/uv.lock
Owners: @cmpadden

test(dagster-async-executor): add regression test for delayed-retry hang
  libraries/dagster-async-executor/dagster_async_executor_tests/test_retry_policy.py
Owners: @cmpadden

fix(dagster-async-executor): resolve delayed-retry hang via bounded receive()
  libraries/dagster-async-executor/dagster_async_executor/executor.py
Owners: @cmpadden

test(dagster-async-executor): make retry test xdist-safe via config_schema
  libraries/dagster-async-executor/dagster_async_executor_tests/test_retry_policy.py
Owners: @cmpadden

.github/CODEOWNERS:

*   @cmpadden

/libraries/dagster-iceberg/ @JasperHG90 @deepyaman
/libraries/dagster-obstore/ @ion-elgreco
/libraries/dagster-polars/  @danielgafni
/libraries/pipes/   @danielgafni
/libraries/pipes/implementations/java/  @GingerYouth @danielgafni
/libraries/pipes/implementations/rust/  @cmpadden @christeefy @marijncv
