Repository dagster-io/community-integrations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cmpadden, @JasperHG90, @deepyaman, @ion-elgreco, @danielgafni, @GingerYouth, @christeefy, @marijncv

Update dagster-vertexai lockfile (#320)
  libraries/dagster-vertexai/uv.lock
Owners: @cmpadden

Update dagster-teradata lockfile (#319)
  libraries/dagster-teradata/uv.lock
Owners: @cmpadden

Update dagster-salesforce lockfile (#316)
  libraries/dagster-salesforce/uv.lock
Owners: @cmpadden

Update dagster-evidence lockfile (#307)
  libraries/dagster-evidence/uv.lock
Owners: @cmpadden

Format dagster-apprise after lockfile update
  libraries/dagster-apprise/dagster_apprise_tests/test_comprehensive_urls.py
Owners: @cmpadden

Format dagster-async-executor after lockfile update
  libraries/dagster-async-executor/dagster_async_executor/execution/plan/execute_plan.py
  libraries/dagster-async-executor/dagster_async_executor/execution/plan/execute_step.py
Owners: @cmpadden

Format dagster-obstore after lockfile update
  libraries/dagster-obstore/dagster_obstore_tests/s3_tests/test_compute_log_manager.py
Owners: @ion-elgreco

Format dagster-sftp after lockfile update
  libraries/dagster-sftp/dagster_sftp/resource.py
Owners: @cmpadden

Fix ruff regex lint in dagster-iceberg tests
  libraries/dagster-iceberg/tests/test_handler.py
Owners: @JasperHG90, @deepyaman

Fix dagster-contrib-gcp test import for latest Dagster
  libraries/dagster-contrib-gcp/dagster_contrib_gcp_tests/cloud_run_tests/conftest.py
Owners: @cmpadden

Fix dagster-openlineage imports for latest Dagster
  libraries/dagster-openlineage/dagster_openlineage/compat.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_e2e_asset_emission.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_sensor_cursor.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_sensor_evaluation.py
Owners: @cmpadden

Pin universal-pathlib below 0.3 for dagster-polars
  libraries/dagster-polars/pyproject.toml
  libraries/dagster-polars/uv.lock
Owners: @danielgafni

Mock sync Weaviate cloud checks
  libraries/dagster-weaviate/dagster_weaviate_tests/test_resource.py
Owners: @cmpadden

Pin elasticsearch client to v8 for tests
  libraries/dagster-elasticsearch/pyproject.toml
  libraries/dagster-elasticsearch/uv.lock
Owners: @cmpadden

Update Apprise invalid URL expectations
  libraries/dagster-apprise/dagster_apprise_tests/test_comprehensive_urls.py
Owners: @cmpadden

Update dagster-async-executor lockfile (#301)
  libraries/dagster-async-executor/dagster_async_executor/execution/plan/execute_plan.py
  libraries/dagster-async-executor/dagster_async_executor/execution/plan/execute_step.py
  libraries/dagster-async-executor/uv.lock
Owners: @cmpadden

Update Dagster partition imports in iceberg tests
  libraries/dagster-iceberg/tests/_utils/conftest.py
  libraries/dagster-iceberg/tests/_utils/test_io.py
  libraries/dagster-iceberg/tests/_utils/test_partitions.py
Owners: @JasperHG90, @deepyaman

Pin Azure Blob SDK below unsupported Azurite API
  libraries/dagster-obstore/pyproject.toml
  libraries/dagster-obstore/uv.lock
Owners: @ion-elgreco

Update dagster-contrib-gcp lockfile (#303)
  libraries/dagster-contrib-gcp/dagster_contrib_gcp_tests/cloud_run_tests/conftest.py
  libraries/dagster-contrib-gcp/uv.lock
Owners: @cmpadden

Pin deltalake below 1.6 for dagster-polars
  libraries/dagster-polars/pyproject.toml
  libraries/dagster-polars/uv.lock
Owners: @danielgafni

Update dagster-openlineage lockfile (#313)
  libraries/dagster-openlineage/dagster_openlineage/compat.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_e2e_asset_emission.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_sensor_cursor.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_sensor_evaluation.py
  libraries/dagster-openlineage/uv.lock
Owners: @cmpadden

Format weaviate test fix
  libraries/dagster-weaviate/dagster_weaviate_tests/test_resource.py
Owners: @cmpadden

Update dagster-apprise lockfile (#300)
  libraries/dagster-apprise/dagster_apprise_tests/test_comprehensive_urls.py
  libraries/dagster-apprise/uv.lock
Owners: @cmpadden

Add Spark test support dependencies
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

Update dagster-sftp lockfile (#317)
  libraries/dagster-sftp/dagster_sftp/resource.py
  libraries/dagster-sftp/uv.lock
Owners: @cmpadden

Keep grpcio-status in iceberg dev dependencies
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

Update dagster-weaviate lockfile (#321)
  libraries/dagster-weaviate/dagster_weaviate_tests/test_resource.py
  libraries/dagster-weaviate/uv.lock
Owners: @cmpadden

Use Azurite-compatible Azure Blob SDK
  libraries/dagster-obstore/pyproject.toml
  libraries/dagster-obstore/uv.lock
Owners: @ion-elgreco

Use Delta Lake version compatible with partition tests
  libraries/dagster-polars/pyproject.toml
  libraries/dagster-polars/uv.lock
Owners: @danielgafni

Test dagster-elasticsearch against Elasticsearch 9
  libraries/dagster-elasticsearch/dagster_elasticsearch_tests/conftest.py
  libraries/dagster-elasticsearch/pyproject.toml
  libraries/dagster-elasticsearch/uv.lock
Owners: @cmpadden

Update dagster-elasticsearch lockfile (#306)
  libraries/dagster-elasticsearch/dagster_elasticsearch_tests/conftest.py
  libraries/dagster-elasticsearch/uv.lock
Owners: @cmpadden

Support latest dagster-polars dependencies
  libraries/dagster-polars/dagster_polars/io_managers/base.py
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
  libraries/dagster-polars/pyproject.toml
  libraries/dagster-polars/uv.lock
Owners: @danielgafni

Update dagster-polars lockfile (#314)
  libraries/dagster-polars/dagster_polars/io_managers/base.py
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
  libraries/dagster-polars/uv.lock
Owners: @danielgafni

Update dagster-obstore lockfile (#312)
  libraries/dagster-obstore/dagster_obstore_tests/s3_tests/test_compute_log_manager.py
  libraries/dagster-obstore/pyproject.toml
  libraries/dagster-obstore/uv.lock
Owners: @ion-elgreco

Fix iceberg lockfile update test failures
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/src/dagster_iceberg/_utils/io.py
  libraries/dagster-iceberg/tests/_utils/test_io.py
  libraries/dagster-iceberg/tests/_utils/test_partitions.py
  libraries/dagster-iceberg/tests/test_resource.py
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

Fix iceberg kitchen sink tests
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/polars.py
Owners: @JasperHG90, @deepyaman

Update dagster-iceberg lockfile (#310)
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/src/dagster_iceberg/_utils/io.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/polars.py
  libraries/dagster-iceberg/tests/_utils/conftest.py
  libraries/dagster-iceberg/tests/_utils/test_io.py
  libraries/dagster-iceberg/tests/_utils/test_partitions.py
  libraries/dagster-iceberg/tests/test_handler.py
  libraries/dagster-iceberg/tests/test_resource.py
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

Release dagster-adbc 0.0.2
  libraries/dagster-adbc/dagster_adbc/__init__.py
Owners: @cmpadden

Release dagster-anthropic 0.0.6
  libraries/dagster-anthropic/dagster_anthropic/__init__.py
Owners: @cmpadden

Release dagster-apprise 0.0.3
  libraries/dagster-apprise/dagster_apprise/__init__.py
Owners: @cmpadden

.github/CODEOWNERS:

*   @cmpadden

/libraries/dagster-iceberg/ @JasperHG90 @deepyaman
/libraries/dagster-obstore/ @ion-elgreco
/libraries/dagster-polars/  @danielgafni
/libraries/pipes/   @danielgafni
/libraries/pipes/implementations/java/  @GingerYouth @danielgafni
/libraries/pipes/implementations/rust/  @cmpadden @christeefy @marijncv
