Repository dagster-io/community-integrations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cmpadden, @JasperHG90, @deepyaman, @ion-elgreco, @danielgafni, @GingerYouth, @christeefy, @marijncv

.github/CODEOWNERS:

*   @cmpadden

/libraries/dagster-iceberg/ @JasperHG90 @deepyaman
/libraries/dagster-obstore/ @ion-elgreco
/libraries/dagster-polars/  @danielgafni
/libraries/pipes/   @danielgafni
/libraries/pipes/implementations/java/  @GingerYouth @danielgafni
/libraries/pipes/implementations/rust/  @cmpadden @christeefy @marijncv

bteq_operator for dagster-teradata
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata/ttu.py
  libraries/dagster-teradata/dagster_teradata_tests/functional/test_execute_bteq.py
Owners: @cmpadden

Added expected_return_code
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata/ttu.py
  libraries/dagster-teradata/dagster_teradata_tests/functional/test_execute_bteq.py
Owners: @cmpadden

Accepts multiple expected return codes
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata/ttu.py
  libraries/dagster-teradata/dagster_teradata_tests/functional/test_execute_bteq.py
Owners: @cmpadden

[pipes] add explanation for publish procedeure to Maven
  libraries/pipes/implementations/java/README.md
Owners: @GingerYouth, @danielgafni

Evidence resource
  libraries/dagster-evidence/dagster_evidence/__init__.py
  libraries/dagster-evidence/dagster_evidence/resource.py
  libraries/dagster-evidence/dagster_evidence_tests/test_evidence_resource.py
Owners: @cmpadden

pyright
  libraries/dagster-evidence/dagster_evidence_tests/test_evidence_resource.py
Owners: @cmpadden

Use sources
  libraries/dagster-evidence/dagster_evidence/resource.py
  libraries/dagster-evidence/dagster_evidence_tests/test_evidence_resource.py
Owners: @cmpadden

[dagster-iceberg] Provide extensible load function
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @JasperHG90, @deepyaman

Simplify resource
  libraries/dagster-evidence/dagster_evidence/__init__.py
  libraries/dagster-evidence/dagster_evidence/resource.py
  libraries/dagster-evidence/dagster_evidence_tests/test_evidence_resource.py
Owners: @cmpadden

Release dagster-evidence 0.1.6
  libraries/dagster-evidence/dagster_evidence/__init__.py
Owners: @cmpadden

[dagster-iceberg] Upgrade Spark<4.0 and other deps
  libraries/dagster-iceberg/kitchen-sink/Dockerfile
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/tests/docker/Dockerfile
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Make changes after updating Ruff
  libraries/dagster-iceberg/src/dagster_iceberg/_db_io_manager/io_manager.py
  libraries/dagster-iceberg/src/dagster_iceberg/_db_io_manager/utils.py
  libraries/dagster-iceberg/src/dagster_iceberg/_utils/partitions.py
  libraries/dagster-iceberg/src/dagster_iceberg/handler.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/base.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Include `patito` in requirements
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Pin `aiohttp` due to a new issue
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Upgrade Py4J, Iceberg, PyIceberg
  libraries/dagster-iceberg/kitchen-sink/Dockerfile
Owners: @JasperHG90, @deepyaman

Enabled final.. rule and started fixing
  libraries/pipes/implementations/java/config/pmd-ruleset.xml
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/PipesContext.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/PipesSession.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/loaders/PipesCliArgsParamsLoader.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/loaders/PipesDefaultContextLoader.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/loaders/PipesMappingParamsLoader.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/loaders/PipesS3ContextLoader.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/logger/PipesLogLevel.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/logger/PipesLogger.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesBlobStoreMessageWriter.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesBlobStoreMessageWriterChannel.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesBufferedStreamMessageWriterChannel.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesS3MessageWriter.java
Owners: @GingerYouth, @danielgafni

One more rule unexcluded & started fixing
  libraries/pipes/implementations/java/build.gradle
  libraries/pipes/implementations/java/config/pmd-ruleset.xml
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/DagsterPipesException.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/PipesContext.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/loaders/PipesCliArgsParamsLoader.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/loaders/PipesDefaultContextLoader.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/loaders/PipesMappingParamsLoader.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/loaders/PipesS3ContextLoader.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/logger/PipesLogger.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/utils/Example.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/utils/PipesUtils.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesBlobStoreMessageWriter.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesBlobStoreMessageWriterChannel.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesBufferedStreamMessageWriterChannel.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesDefaultMessageWriter.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesExtras.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesFileMessageWriterChannel.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesMessage.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesS3MessageWriterChannel.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesStreamMessageWriterChannel.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/types/Converter.java
Owners: @GingerYouth, @danielgafni

Some PMD fixes
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/PipesContext.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/loaders/PipesCliArgsParamsLoader.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesBlobStoreMessageWriterChannel.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesS3MessageWriter.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesS3MessageWriterChannel.java
Owners: @GingerYouth, @danielgafni

PMD task added to build & finished fixing of existing PMD problems
  libraries/pipes/implementations/java/build.gradle
  libraries/pipes/implementations/java/config/pmd-ruleset.xml
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/loaders/PipesDefaultContextLoader.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/utils/PipesUtils.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesBlobStoreMessageWriterChannel.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesMessageWriter.java
Owners: @GingerYouth, @danielgafni

[dagster-iceberg] Upgrade Spark<4.0 and other deps
  libraries/dagster-iceberg/kitchen-sink/Dockerfile
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/tests/docker/Dockerfile
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Upgrade Py4J, Iceberg, PyIceberg
  libraries/dagster-iceberg/kitchen-sink/Dockerfile
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Include `patito` in requirements
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Make changes after updating Ruff
  libraries/dagster-iceberg/src/dagster_iceberg/_db_io_manager/io_manager.py
  libraries/dagster-iceberg/src/dagster_iceberg/_db_io_manager/utils.py
  libraries/dagster-iceberg/src/dagster_iceberg/_utils/partitions.py
  libraries/dagster-iceberg/src/dagster_iceberg/handler.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/base.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Unpin `aiohttp`, fix is released
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Pin `aiohttp` due to a new issue
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

Migrate to using `mc alias` instead of `mc config`
  libraries/dagster-iceberg/kitchen-sink/compose.yaml
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Provide extensible load function
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @JasperHG90, @deepyaman

Checkstyle gradle config & xml with rules
  libraries/pipes/implementations/java/build.gradle
  libraries/pipes/implementations/java/config/checkstyle/checkstyle.xml
  libraries/pipes/implementations/java/config/checkstyle/suppressions.xml
Owners: @GingerYouth, @danielgafni

changes
  config/checkstyle/google_checks.xml
  config/pmd-ruleset.xml
  libraries/pipes/implementations/java/build.gradle
  libraries/pipes/implementations/java/config/checkstyle/checkstyle.xml
  libraries/pipes/implementations/java/config/checkstyle/google_checks.xml
  libraries/pipes/implementations/java/config/checkstyle/suppressions.xml
Owners: @cmpadden, @GingerYouth, @danielgafni

Removed redundant config dir
  config/checkstyle/google_checks.xml
  config/pmd-ruleset.xml
Owners: @cmpadden

Excluded generated files from checkstyle
  libraries/pipes/implementations/java/build.gradle
Owners: @GingerYouth, @danielgafni

Adjusted CheckStyle
  libraries/pipes/implementations/java/config/checkstyle/google_checks.xml
Owners: @GingerYouth, @danielgafni

Checkstyle fixes
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/PipesContext.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/PipesSession.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/data/PipesContextData.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/data/PipesException.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/data/PipesMetadata.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/loaders/PipesCliArgsParamsLoader.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/loaders/PipesContextLoader.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/loaders/PipesDefaultContextLoader.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/loaders/PipesMappingParamsLoader.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/loaders/PipesParamsLoader.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/loaders/PipesS3ContextLoader.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/logger/PipesLogger.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/utils/Example.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/utils/MetadataBuilder.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/utils/PipesUtils.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesBlobStoreMessageWriter.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesBlobStoreMessageWriterChannel.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesBufferedStreamMessageWriterChannel.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesDefaultMessageWriter.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesFileMessageWriterChannel.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesMessage.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesMessageWriter.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesS3MessageWriter.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesS3MessageWriterChannel.java
Owners: @GingerYouth, @danielgafni

JavaDocs
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/PipesContext.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesBufferedStreamMessageWriterChannel.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesS3MessageWriter.java
Owners: @GingerYouth, @danielgafni

Added suppressions & checkstyle waring level upgraded to error
  libraries/pipes/implementations/java/config/checkstyle/google_checks.xml
  libraries/pipes/implementations/java/config/checkstyle/suppressions.xml
  libraries/pipes/implementations/java/src/test/java/io/dagster/pipes/DataLoader.java
  libraries/pipes/implementations/java/src/test/java/io/dagster/pipes/TestUtils.java
Owners: @GingerYouth, @danielgafni

CheckStyle fixed
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/PipesSession.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/data/PipesException.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/utils/PipesUtils.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesBlobStoreMessageWriterChannel.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesMessageWriter.java
  libraries/pipes/implementations/java/src/main/java/io/dagster/pipes/writers/PipesS3MessageWriterChannel.java
  libraries/pipes/implementations/java/src/test/java/io/dagster/pipes/MainTest.java
  libraries/pipes/implementations/java/src/test/java/io/dagster/pipes/PipesTests.java
  libraries/pipes/implementations/java/src/test/java/io/dagster/pipes/data/PipesExceptionTest.java
  libraries/pipes/implementations/java/src/test/java/io/dagster/pipes/loaders/PipesDefaultContextLoaderTest.java
  libraries/pipes/implementations/java/src/test/java/io/dagster/pipes/utils/MetadataBuilderTest.java
  libraries/pipes/implementations/java/src/test/java/io/dagster/pipes/writers/PipesMessageWriterChannelTest.java
Owners: @GingerYouth, @danielgafni

Release dagster-evidence 0.1.6
  libraries/dagster-evidence/dagster_evidence/__init__.py
Owners: @cmpadden

Release dagster-iceberg 0.3.1
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Reolve time-based partition naming conflicts with schema fields
  libraries/dagster-iceberg/CHANGELOG.md
  libraries/dagster-iceberg/src/dagster_iceberg/_utils/partitions.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] Fix e2e tests
  libraries/dagster-iceberg/tests/io_managers/test_arrow_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_daft_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_pandas_io_manager.py
  libraries/dagster-iceberg/tests/io_managers/test_polars_io_manager.py
Owners: @JasperHG90, @deepyaman
