Repository dagster-io/community-integrations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cmpadden, @danielgafni, @GingerYouth, @christeefy, @marijncv

.github/CODEOWNERS:

*   @cmpadden

/libraries/pipes/   @danielgafni
/libraries/pipes/implementations/java   @GingerYouth @danielgafni
/libraries/pipes/implementations/rust  @cmpadden @christeefy @marijncv

skip most tests
  libraries/pipes/implementations/rust/Cargo.toml
Owners: @cmpadden, @christeefy, @marijncv

add to CI
  .github/workflows/libraries-pipes-rust.yml
Owners: @cmpadden

install uv
  .github/workflows/libraries-pipes-rust.yml
Owners: @cmpadden

expose data version in report_asset_materialization
  libraries/pipes/implementations/rust/example-dagster-pipes-rust-project/rust_processing_jobs/src/main.rs
  libraries/pipes/implementations/rust/src/lib.rs
Owners: @cmpadden, @christeefy, @marijncv

add to changelog
  libraries/pipes/implementations/rust/CHANGELOG.md
Owners: @cmpadden, @christeefy, @marijncv

puts pipes tests under an optional feature
  libraries/pipes/implementations/rust/Cargo.toml
  libraries/pipes/implementations/rust/src/bin/pipes_tests.rs
  libraries/pipes/implementations/rust/tests/conftest.py
  libraries/pipes/implementations/rust/tests/test_pipes.py
Owners: @cmpadden, @christeefy, @marijncv

rename integration test step
  .github/workflows/libraries-pipes-rust.yml
Owners: @cmpadden

fixes asset check skip flag
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/suite.py
Owners: @danielgafni

assert that all levels are logged at least once
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/suite.py
Owners: @danielgafni

adds support for reporting custom messages
  libraries/pipes/implementations/rust/pipes.toml
  libraries/pipes/implementations/rust/src/bin/pipes_tests.rs
  libraries/pipes/implementations/rust/src/lib.rs
Owners: @cmpadden, @christeefy, @marijncv

add changelog entry
  libraries/pipes/implementations/rust/CHANGELOG.md
Owners: @cmpadden, @christeefy, @marijncv

fix type in file reader
  libraries/pipes/implementations/rust/src/bin/pipes_tests.rs
Owners: @cmpadden, @christeefy, @marijncv

add support for closing the pipes context
  libraries/pipes/implementations/rust/src/lib.rs
Owners: @cmpadden, @christeefy, @marijncv

add changelog
  libraries/pipes/implementations/rust/CHANGELOG.md
Owners: @cmpadden, @christeefy, @marijncv

add the test suite path to the workflow triggers
  .github/workflows/libraries-pipes-rust.yml
Owners: @cmpadden

[dagster-pipes-test] make job name flag consistent with other flags
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/MainTest.java
  libraries/pipes/implementations/rust/src/bin/pipes_tests.rs
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/suite.py
Owners: @GingerYouth, @danielgafni, @cmpadden, @christeefy, @marijncv

[pipes] refactor Pipes tests interface
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/suite.py
Owners: @danielgafni

fix --test-name
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/suite.py
Owners: @danielgafni

Big tests refactoring
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/MainTest.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/PipesTests.java
Owners: @GingerYouth, @danielgafni

[dagster-pipes-java] add tests in CI
  .github/workflows/libraries-pipes-java.yml
  libraries/pipes/implementations/java/dagster-pipes-java/nix/shells/default/default.nix
  libraries/pipes/implementations/java/dagster-pipes-java/pyproject.toml
  libraries/pipes/implementations/java/dagster-pipes-java/uv.lock
  libraries/pipes/tests/dagster-pipes-tests/pyproject.toml
Owners: @cmpadden, @GingerYouth, @danielgafni

[dagster-pipes-test] improve test_message_report_asset_check
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/pipes/PipesContext.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/MainTest.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/PipesTests.java
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/suite.py
Owners: @GingerYouth, @danielgafni

[pipes] run CI against Pipes tests changes
  .github/workflows/libraries-pipes-java.yml
  .github/workflows/libraries-pipes-rust.yml
Owners: @cmpadden

[dagster-pipes-test] use context.run to get job_name
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/suite.py
Owners: @danielgafni

[pipes] refactor Pipes tests interface
  libraries/pipes/tests/dagster-pipes-tests/README.md
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/suite.py
Owners: @danielgafni

adapt rust tests to test suite refactor
  libraries/pipes/implementations/rust/src/bin/pipes_tests.rs
Owners: @cmpadden, @christeefy, @marijncv

Fixed bad merge
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/suite.py
Owners: @danielgafni

Suite.py
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/suite.py
Owners: @danielgafni

Tests refactoring
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/pipes/utils/Example.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/MainTest.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/PipesTests.java
Owners: @GingerYouth, @danielgafni

[pipes] refactor Pipes tests interface
  .github/workflows/libraries-pipes-tests.yml
  libraries/pipes/tests/dagster-pipes-tests/README.md
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/suite.py
  libraries/pipes/tests/dagster-pipes-tests/tests/data/__init__.py
  libraries/pipes/tests/dagster-pipes-tests/tests/data/conftest.py
  libraries/pipes/tests/dagster-pipes-tests/tests/data/pipes.toml
  libraries/pipes/tests/dagster-pipes-tests/tests/data/suite.py
  libraries/pipes/tests/dagster-pipes-tests/tests/test_collection.py
  libraries/pipes/tests/dagster-pipes-tests/uv.lock
Owners: @cmpadden, @danielgafni

[dagster-pipes-rust] release 0.1.7
  libraries/pipes/implementations/rust/CHANGELOG.md
  libraries/pipes/implementations/rust/Cargo.toml
Owners: @cmpadden, @christeefy, @marijncv

Adapt rust tests to test suite refactor (#81)
  libraries/pipes/implementations/rust/src/bin/pipes_tests.rs
Owners: @cmpadden, @christeefy, @marijncv

Big tests refactoring
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/MainTest.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/PipesTests.java
Owners: @GingerYouth, @danielgafni

Tests refactoring
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/pipes/utils/Example.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/MainTest.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/PipesTests.java
Owners: @GingerYouth, @danielgafni

remove unused import
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/MainTest.java
Owners: @GingerYouth, @danielgafni

non optional Value
  libraries/pipes/implementations/rust/src/lib.rs
Owners: @cmpadden, @christeefy, @marijncv

code reuse in tests
  libraries/pipes/implementations/rust/src/bin/pipes_tests.rs
  libraries/pipes/implementations/rust/src/lib.rs
Owners: @cmpadden, @christeefy, @marijncv

adds pipes logger
  libraries/pipes/implementations/rust/src/lib.rs
  libraries/pipes/implementations/rust/src/logger.rs
  libraries/pipes/implementations/rust/src/writer/message_writer_channel.rs
Owners: @cmpadden, @christeefy, @marijncv

add a nix flake for pipes-rust
  libraries/pipes/implementations/rust/README.md
  libraries/pipes/implementations/rust/flake.lock
  libraries/pipes/implementations/rust/flake.nix
Owners: @cmpadden, @christeefy, @marijncv

try out snowfall
  .github/workflows/libraries-pipes-rust.yml
  libraries/pipes/flake.lock
  libraries/pipes/flake.nix
  libraries/pipes/implementations/rust/README.md
  libraries/pipes/implementations/rust/flake.lock
  libraries/pipes/implementations/rust/flake.nix
  libraries/pipes/nix/shells/rust/default.nix
Owners: @cmpadden, @danielgafni, @christeefy, @marijncv

naming consistency
  .github/workflows/libraries-pipes-rust.yml
Owners: @cmpadden
