Repository dagster-io/community-integrations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cmpadden, @JasperHG90, @deepyaman, @ion-elgreco, @danielgafni, @GingerYouth, @christeefy, @marijncv

fix some linting
  libraries/dagster-apprise/dagster_apprise_tests/test_edge_cases.py
Owners: @cmpadden

Release dagster-iceberg 0.3.5
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

[github] consolidate workflows for quality check and integration releases
  .github/workflows/quality-check-dagster-anthropic.yml
  .github/workflows/quality-check-dagster-apprise.yml
  .github/workflows/quality-check-dagster-chroma.yml
  .github/workflows/quality-check-dagster-contrib-gcp.yml
  .github/workflows/quality-check-dagster-dataform.yml
  .github/workflows/quality-check-dagster-evidence.yml
  .github/workflows/quality-check-dagster-gemini.yml
  .github/workflows/quality-check-dagster-hex.yml
  .github/workflows/quality-check-dagster-hightouch.yml
  .github/workflows/quality-check-dagster-iceberg.yml
  .github/workflows/quality-check-dagster-modal.yml
  .github/workflows/quality-check-dagster-notdiamond.yml
  .github/workflows/quality-check-dagster-obstore-template.yml
  .github/workflows/quality-check-dagster-obstore.yml
  .github/workflows/quality-check-dagster-polars.yml
  .github/workflows/quality-check-dagster-teradata.yml
  .github/workflows/quality-check-dagster-vertexai.yml
  .github/workflows/quality-check-dagster-weaviate.yml
  .github/workflows/quality-check.yml
  .github/workflows/release-dagster-anthropic.yml
  .github/workflows/release-dagster-apprise.yml
  .github/workflows/release-dagster-chroma.yml
  .github/workflows/release-dagster-contrib-gcp.yml
  .github/workflows/release-dagster-dataform.yml
  .github/workflows/release-dagster-evidence.yml
  .github/workflows/release-dagster-gemini.yml
  .github/workflows/release-dagster-hex.yml
  .github/workflows/release-dagster-hightouch.yml
  .github/workflows/release-dagster-iceberg.yml
  .github/workflows/release-dagster-modal.yml
  .github/workflows/release-dagster-notdiamond.yml
  .github/workflows/release-dagster-obstore.yml
  .github/workflows/release-dagster-polars.yml
  .github/workflows/release-dagster-qdrant.yml
  .github/workflows/release-dagster-teradata.yml
  .github/workflows/release-dagster-vertexai.yml
  .github/workflows/release-dagster-weaviate.yml
  .github/workflows/release.yml
Owners: @cmpadden

Potential fix for code scanning alert no. 72: Workflow does not contain permissions
  .github/workflows/quality-check.yml
Owners: @cmpadden

Potential fix for code scanning alert no. 74: Workflow does not contain permissions
  .github/workflows/release.yml
Owners: @cmpadden

apply fix to release
  .github/workflows/release.yml
Owners: @cmpadden

updated documentation
  libraries/dagster-teradata/README.md
Owners: @cmpadden

Release dagster-teradata 0.0.6
  libraries/dagster-teradata/dagster_teradata/__init__.py
Owners: @cmpadden

Release dagster-teradata 0.0.6
  libraries/dagster-teradata/dagster_teradata/__init__.py
Owners: @cmpadden

Release dagster-teradata 0.0.7
  libraries/dagster-teradata/dagster_teradata/__init__.py
Owners: @cmpadden

feat: add ducklake integration
  libraries/dagster-ducklake/README.md
  libraries/dagster-ducklake/dagster_ducklake/Makefile
  libraries/dagster-ducklake/dagster_ducklake/__init__.py
  libraries/dagster-ducklake/dagster_ducklake/duckdb_file.py
  libraries/dagster-ducklake/dagster_ducklake/duckdb_protocol.py
  libraries/dagster-ducklake/dagster_ducklake/ducklake.py
  libraries/dagster-ducklake/pyproject.toml
  libraries/dagster-ducklake/uv.lock
Owners: @cmpadden

feat: add tests
  libraries/dagster-ducklake/dagster_ducklake/__init__.py
  libraries/dagster-ducklake/dagster_ducklake_tests/__init__.py
  libraries/dagster-ducklake/dagster_ducklake_tests/test_ducklake.py
Owners: @cmpadden

fix: checks
  libraries/dagster-ducklake/dagster_ducklake_tests/test_ducklake.py
Owners: @cmpadden

Release dagster-teradata 0.0.6
  libraries/dagster-teradata/dagster_teradata/__init__.py
Owners: @cmpadden

Release dagster-teradata 0.0.7
  libraries/dagster-teradata/dagster_teradata/__init__.py
Owners: @cmpadden

[dagster-polars] fix typo in docs
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
Owners: @danielgafni

Release dagster-teradata 0.0.7
  libraries/dagster-teradata/dagster_teradata/__init__.py
Owners: @cmpadden

Release dagster-teradata 0.0.6
  libraries/dagster-teradata/dagster_teradata/__init__.py
Owners: @cmpadden

Release dagster-iceberg 0.3.6
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

Add `dagster-sharepoint` integration
  libraries/dagster-sharepoint/CHANGELOG.md
  libraries/dagster-sharepoint/Makefile
  libraries/dagster-sharepoint/README.md
  libraries/dagster-sharepoint/dagster_sharepoint/__init__.py
  libraries/dagster-sharepoint/dagster_sharepoint/resource.py
  libraries/dagster-sharepoint/dagster_sharepoint_tests/__init__.py
  libraries/dagster-sharepoint/dagster_sharepoint_tests/test_resource.py
  libraries/dagster-sharepoint/pyproject.toml
  libraries/dagster-sharepoint/uv.lock
Owners: @cmpadden

Add `dagster-salesforce` integration
  libraries/dagster-salesforce/CHANGELOG.md
  libraries/dagster-salesforce/Makefile
  libraries/dagster-salesforce/README.md
  libraries/dagster-salesforce/dagster_salesforce/__init__.py
  libraries/dagster-salesforce/dagster_salesforce/credentials.py
  libraries/dagster-salesforce/dagster_salesforce/resource.py
  libraries/dagster-salesforce/dagster_salesforce/utils.py
  libraries/dagster-salesforce/dagster_salesforce_tests/__init__.py
  libraries/dagster-salesforce/dagster_salesforce_tests/helpers.py
  libraries/dagster-salesforce/dagster_salesforce_tests/test_credentials.py
  libraries/dagster-salesforce/dagster_salesforce_tests/test_resource.py
  libraries/dagster-salesforce/dagster_salesforce_tests/test_utils.py
  libraries/dagster-salesforce/pyproject.toml
  libraries/dagster-salesforce/uv.lock
Owners: @cmpadden

Add `dagster-sftp` integration
  libraries/dagster-sftp/CHANGELOG.md
  libraries/dagster-sftp/Makefile
  libraries/dagster-sftp/README.md
  libraries/dagster-sftp/dagster_sftp/__init__.py
  libraries/dagster-sftp/dagster_sftp/resource.py
  libraries/dagster-sftp/dagster_sftp_tests/__init__.py
  libraries/dagster-sftp/dagster_sftp_tests/conftest.py
  libraries/dagster-sftp/dagster_sftp_tests/test_resource.py
  libraries/dagster-sftp/pyproject.toml
  libraries/dagster-sftp/uv.lock
Owners: @cmpadden

[dagster-sftp] Private key authentication improvements
  libraries/dagster-sftp/CHANGELOG.md
  libraries/dagster-sftp/dagster_sftp/__init__.py
  libraries/dagster-sftp/dagster_sftp/resource.py
  libraries/dagster-sftp/dagster_sftp_tests/conftest.py
  libraries/dagster-sftp/dagster_sftp_tests/test_authentication.py
  libraries/dagster-sftp/dagster_sftp_tests/test_resource.py
  libraries/dagster-sftp/pyproject.toml
  libraries/dagster-sftp/uv.lock
Owners: @cmpadden

Resolve \`make check\` failures
  Makefile
  libraries/dagster-chroma/pyproject.toml
  libraries/dagster-chroma/uv.lock
  libraries/dagster-ducklake/Makefile
  libraries/dagster-hightouch/dagster_hightouch/utils.py
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-notdiamond/pyproject.toml
  libraries/dagster-notdiamond/uv.lock
  libraries/dagster-polars/pyproject.toml
  libraries/dagster-teradata/pyproject.toml
Owners: @cmpadden, @JasperHG90, @deepyaman, @danielgafni

upgrade to py10
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
  libraries/dagster-polars/dagster_polars_tests/test_polars_delta.py
  libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers.py
  libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers_lazy.py
  libraries/dagster-salesforce/dagster_salesforce_tests/test_resource.py
  libraries/dagster-sftp/dagster_sftp_tests/conftest.py
  libraries/dagster-sharepoint/dagster_sharepoint_tests/test_resource.py
Owners: @danielgafni, @cmpadden

Run test in every project
  Makefile
Owners: @cmpadden

Run test in every project (but run them all and don't fail until the end)
  Makefile
Owners: @cmpadden

upgrade spark version & add make install
  Makefile
  libraries/dagster-iceberg/kitchen-sink/Dockerfile
Owners: @cmpadden, @JasperHG90, @deepyaman

[dagster-salesforce] upgrade dagster version
  libraries/dagster-salesforce/dagster_salesforce/resource.py
  libraries/dagster-salesforce/pyproject.toml
  libraries/dagster-salesforce/uv.lock
Owners: @cmpadden

[dagster-iceberg] fix tests
  libraries/dagster-iceberg/kitchen-sink/hive/Dockerfile
Owners: @JasperHG90, @deepyaman

[dagster-weaviate] fix tests
  libraries/dagster-weaviate/dagster_weaviate/config.py
  libraries/dagster-weaviate/dagster_weaviate/resource.py
Owners: @cmpadden

[dagster-iceberg] fix tests
  libraries/dagster-iceberg/tests/docker/Dockerfile
Owners: @JasperHG90, @deepyaman

Don't cancel tests for all integrations if one fails
  .github/workflows/quality-check.yml
Owners: @cmpadden

make check
  libraries/dagster-apprise/dagster_apprise_tests/test_comprehensive_urls.py
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
  libraries/dagster-polars/dagster_polars_tests/test_polars_delta.py
  libraries/dagster-weaviate/dagster_weaviate/config.py
  libraries/dagster-weaviate/dagster_weaviate/resource.py
Owners: @cmpadden, @danielgafni

[dagster-ducklake] fix tests
  libraries/dagster-ducklake/dagster_ducklake/ducklake.py
  libraries/dagster-ducklake/dagster_ducklake_tests/test_ducklake.py
Owners: @cmpadden

and more test fixing
  libraries/dagster-apprise/dagster_apprise_tests/test_comprehensive_urls.py
  libraries/dagster-chroma/dagster_chroma/config.py
  libraries/dagster-chroma/dagster_chroma/resource.py
  libraries/dagster-ducklake/dagster_ducklake/ducklake.py
  libraries/dagster-iceberg/kitchen-sink/tests/test_e2e.py
  libraries/dagster-iceberg/tests/_utils/conftest.py
  libraries/dagster-iceberg/tests/conftest.py
  libraries/dagster-iceberg/tests/test_resource.py
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
  libraries/dagster-polars/dagster_polars_tests/test_polars_delta.py
Owners: @cmpadden, @JasperHG90, @deepyaman, @danielgafni

[dagster-polars] removing project specific ruff rules
  libraries/dagster-polars/pyproject.toml
Owners: @danielgafni

[dagster-polars] removing project specific ruff rules
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
  libraries/dagster-polars/dagster_polars_tests/test_polars_delta.py
Owners: @danielgafni

[chores] uv workspace
  libraries/dagster-salesforce/dagster_salesforce/__init__.py
  libraries/dagster-salesforce/pyproject.toml
  libraries/dagster-sftp/dagster_sftp/__init__.py
  libraries/dagster-sftp/pyproject.toml
  libraries/dagster-sharepoint/dagster_sharepoint/__init__.py
  libraries/dagster-sharepoint/pyproject.toml
  pyproject.toml
  ruff.toml
  uv.lock
Owners: @cmpadden

[dagster-async] Add dagster-async integration
  libraries/dagster-async/CHANGELOG.md
  libraries/dagster-async/Makefile
  libraries/dagster-async/README.md
  libraries/dagster-async/dagster_async/__init__.py
  libraries/dagster-async/dagster_async/execution/__init__.py
  libraries/dagster-async/dagster_async/execution/plan/__init__.py
  libraries/dagster-async/dagster_async/execution/plan/compute.py
  libraries/dagster-async/dagster_async/execution/plan/compute_generator.py
  libraries/dagster-async/dagster_async/execution/plan/execute_plan.py
  libraries/dagster-async/dagster_async/execution/plan/execute_step.py
  libraries/dagster-async/dagster_async/executor.py
  libraries/dagster-async/dagster_async/executor_definition.py
  libraries/dagster-async/dagster_async_tests/__init__.py
  libraries/dagster-async/dagster_async_tests/conftest.py
  libraries/dagster-async/dagster_async_tests/helpers.py
  libraries/dagster-async/dagster_async_tests/test_assets.py
  libraries/dagster-async/dagster_async_tests/test_async_executor_performance.py
  libraries/dagster-async/dagster_async_tests/test_basic.py
  libraries/dagster-async/dagster_async_tests/test_compute.py
  libraries/dagster-async/dagster_async_tests/test_compute_generator.py
  libraries/dagster-async/dagster_async_tests/test_concurrency_limit.py
  libraries/dagster-async/dagster_async_tests/test_dynamic_async_executor.py
  libraries/dagster-async/dagster_async_tests/test_execute_step.py
  libraries/dagster-async/dagster_async_tests/test_graph_shapes_async_executor.py
  libraries/dagster-async/dagster_async_tests/test_hooks.py
  libraries/dagster-async/dagster_async_tests/test_nested_graph.py
  libraries/dagster-async/dagster_async_tests/test_reexecution_async_executor.py
  libraries/dagster-async/pyproject.toml
  libraries/dagster-async/uv.lock
Owners: @cmpadden

.github/CODEOWNERS:

*   @cmpadden

/libraries/dagster-iceberg/ @JasperHG90 @deepyaman
/libraries/dagster-obstore/ @ion-elgreco
/libraries/dagster-polars/  @danielgafni
/libraries/pipes/   @danielgafni
/libraries/pipes/implementations/java/  @GingerYouth @danielgafni
/libraries/pipes/implementations/rust/  @cmpadden @christeefy @marijncv
