Repository dagster-io/community-integrations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cmpadden, @JasperHG90, @deepyaman, @ion-elgreco, @danielgafni, @GingerYouth, @christeefy, @marijncv

updated code
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata/ttu.py
  libraries/dagster-teradata/dagster_teradata/ttu/__init__.py
  libraries/dagster-teradata/dagster_teradata/ttu/bteq.py
  libraries/dagster-teradata/dagster_teradata/ttu/ddl.py
  libraries/dagster-teradata/dagster_teradata/ttu/tdload.py
  libraries/dagster-teradata/dagster_teradata/ttu/utils/bteq_util.py
  libraries/dagster-teradata/dagster_teradata/ttu/utils/encryption_utils.py
Owners: @cmpadden

Added test cases
  libraries/dagster-teradata/__init__.py
  libraries/dagster-teradata/dagster_teradata/__init__.py
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata/ttu/bteq.py
  libraries/dagster-teradata/dagster_teradata/ttu/tdload.py
  libraries/dagster-teradata/dagster_teradata/ttu/utils/bteq_util.py
  libraries/dagster-teradata/dagster_teradata/ttu/utils/encryption_utils.py
  libraries/dagster-teradata/dagster_teradata_tests/functional/test_execute_bteq.py
  libraries/dagster-teradata/dagster_teradata_tests/test_bteq.py
  libraries/dagster-teradata/dagster_teradata_tests/test_bteq_util.py
  libraries/dagster-teradata/dagster_teradata_tests/test_encryption_utils.py
  libraries/dagster-teradata/pyproject.toml
Owners: @cmpadden

Delete ddl.py
  libraries/dagster-teradata/dagster_teradata/ttu/ddl.py
Owners: @cmpadden

Removed creds
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata/ttu/bteq.py
  libraries/dagster-teradata/dagster_teradata_tests/functional/test_execute_bteq.py
Owners: @cmpadden

Corrected test cases
  libraries/dagster-teradata/dagster_teradata/ttu/bteq.py
  libraries/dagster-teradata/dagster_teradata_tests/functional/test_execute_bteq.py
Owners: @cmpadden

Added queryband support and required comments
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata/ttu/bteq.py
  libraries/dagster-teradata/dagster_teradata/ttu/utils/bteq_util.py
  libraries/dagster-teradata/dagster_teradata/ttu/utils/encryption_utils.py
  libraries/dagster-teradata/dagster_teradata_tests/functional/test_execute_bteq.py
  libraries/dagster-teradata/dagster_teradata_tests/test_bteq.py
  libraries/dagster-teradata/dagster_teradata_tests/test_bteq_util.py
Owners: @cmpadden

Updated README and ruff
  libraries/dagster-teradata/README.md
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata_tests/functional/test_execute_bteq.py
  libraries/dagster-teradata/dagster_teradata_tests/test_bteq.py
  libraries/dagster-teradata/dagster_teradata_tests/test_bteq_util.py
Owners: @cmpadden

Update bteq_util.py
  libraries/dagster-teradata/dagster_teradata/ttu/utils/bteq_util.py
Owners: @cmpadden

Addressed Review Comments
  libraries/dagster-teradata/README.md
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata/ttu/bteq.py
  libraries/dagster-teradata/dagster_teradata/ttu/utils/bteq_util.py
Owners: @cmpadden

Corrected ruff changes
  libraries/dagster-teradata/dagster_teradata/ttu/bteq.py
Owners: @cmpadden

fix pyright issues
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata/ttu/bteq.py
  libraries/dagster-teradata/dagster_teradata/ttu/utils/bteq_util.py
  libraries/dagster-teradata/dagster_teradata/ttu/utils/encryption_utils.py
Owners: @cmpadden

Revert "fix pyright issues"
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata/ttu/bteq.py
  libraries/dagster-teradata/dagster_teradata/ttu/utils/bteq_util.py
  libraries/dagster-teradata/dagster_teradata/ttu/utils/encryption_utils.py
Owners: @cmpadden

Reapply "fix pyright issues"
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata/ttu/bteq.py
  libraries/dagster-teradata/dagster_teradata/ttu/utils/bteq_util.py
  libraries/dagster-teradata/dagster_teradata/ttu/utils/encryption_utils.py
Owners: @cmpadden

Fix pytest
  libraries/dagster-teradata/dagster_teradata/ttu/utils/encryption_utils.py
Owners: @cmpadden

Release dagster-evidence 0.1.6
  libraries/dagster-evidence/dagster_evidence/__init__.py
Owners: @cmpadden

Release dagster-iceberg 0.3.1
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

Release dagster-teradata 0.0.4
  libraries/dagster-teradata/dagster_teradata/__init__.py
Owners: @cmpadden

less specific import
  libraries/dagster-iceberg/src/dagster_iceberg/_db_io_manager/utils.py
Owners: @JasperHG90, @deepyaman

Release dagster-iceberg 0.3.1
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

Release dagster-evidence 0.1.6
  libraries/dagster-evidence/dagster_evidence/__init__.py
Owners: @cmpadden

Release dagster-teradata 0.0.4
  libraries/dagster-teradata/dagster_teradata/__init__.py
Owners: @cmpadden

Release dagster-iceberg 0.3.2
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

less specific import
  libraries/dagster-iceberg/src/dagster_iceberg/_utils/partitions.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/base.py
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @JasperHG90, @deepyaman

less specific import
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @JasperHG90, @deepyaman

less specific import
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @JasperHG90, @deepyaman

less specific import
  libraries/dagster-iceberg/src/dagster_iceberg/io_manager/spark.py
Owners: @JasperHG90, @deepyaman

Release dagster-iceberg 0.3.2
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

Release dagster-iceberg 0.3.1
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

Release dagster-teradata 0.0.4
  libraries/dagster-teradata/dagster_teradata/__init__.py
Owners: @cmpadden

Release dagster-evidence 0.1.6
  libraries/dagster-evidence/dagster_evidence/__init__.py
Owners: @cmpadden

Release dagster-iceberg 0.3.3
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

Added missing packages
  libraries/dagster-teradata/pyproject.toml
Owners: @cmpadden

Release dagster-iceberg 0.3.3
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

Release dagster-iceberg 0.3.2
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

Release dagster-teradata 0.0.4
  libraries/dagster-teradata/dagster_teradata/__init__.py
Owners: @cmpadden

Release dagster-iceberg 0.3.1
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

Release dagster-evidence 0.1.6
  libraries/dagster-evidence/dagster_evidence/__init__.py
Owners: @cmpadden

Release dagster-teradata 0.0.5
  libraries/dagster-teradata/dagster_teradata/__init__.py
Owners: @cmpadden

docs: add CLAUDE.md guide for repository contributors
  CLAUDE.md
Owners: @cmpadden

use engine argument instead of streaming argument
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
  libraries/dagster-polars/dagster_polars_tests/test_polars_parquet.py
  libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers.py
  libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers_lazy.py
Owners: @danielgafni

.github/CODEOWNERS:

*   @cmpadden

/libraries/dagster-iceberg/ @JasperHG90 @deepyaman
/libraries/dagster-obstore/ @ion-elgreco
/libraries/dagster-polars/  @danielgafni
/libraries/pipes/   @danielgafni
/libraries/pipes/implementations/java/  @GingerYouth @danielgafni
/libraries/pipes/implementations/rust/  @cmpadden @christeefy @marijncv
