Repository dagster-io/community-integrations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cmpadden, @JasperHG90, @deepyaman, @ion-elgreco, @danielgafni, @GingerYouth, @christeefy, @marijncv

update to add some more tests.
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_dataset_asset.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_dataset_metadata.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_multi_asset.py
Owners: @cmpadden

polish the tests.
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_dataset_asset.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_huggingface_resource.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_multi_asset.py
Owners: @cmpadden

update to fix more test failures
  libraries/dagster-hf-datasets/dagster_hf_datasets/assets/multi_asset.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_multi_asset.py
Owners: @cmpadden

add and polish docs.
  libraries/dagster-hf-datasets/README.md
  libraries/dagster-hf-datasets/docs/API.md
  libraries/dagster-hf-datasets/docs/Usage.md
Owners: @cmpadden

update to satisfy pyright requirements.
  libraries/dagster-hf-datasets/dagster_hf_datasets/_metadata/_dataset_metadata.py
  libraries/dagster-hf-datasets/dagster_hf_datasets/resources/huggingface_resource.py
Owners: @cmpadden

update to fix some more typing issues.
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_dataset_metadata.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_io_manager.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_partition_mapping.py
Owners: @cmpadden

lint the files.
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_dataset_metadata.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_io_manager.py
Owners: @cmpadden

continue to improve typing and linting.
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_dataset_metadata.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_huggingface_resource.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_io_manager.py
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_partition_mapping.py
Owners: @cmpadden

rm test.
  libraries/dagster-hf-datasets/dagster_hf_datasets_tests/test_partition_mapping.py
Owners: @cmpadden

add docstrings for examples.
  libraries/dagster-hf-datasets/examples/basic_asset_pipeline.py
  libraries/dagster-hf-datasets/examples/dataset_pipeline.py
  libraries/dagster-hf-datasets/examples/multi_asset_pipeline.py
Owners: @cmpadden

chore(dagster-iceberg): loosen pyiceberg upper bound to <0.12
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

chore(dagster-iceberg): loosen pyiceberg upper bound to <0.12 (#289)
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

Fix Iceberg partition expression typing
  libraries/dagster-iceberg/src/dagster_iceberg/_utils/partitions.py
Owners: @JasperHG90, @deepyaman

Fix docker images
  libraries/dagster-iceberg/kitchen-sink/Dockerfile
  libraries/dagster-iceberg/tests/docker/Dockerfile
Owners: @JasperHG90, @deepyaman

Use current Spark release for Iceberg Docker images
  libraries/dagster-iceberg/kitchen-sink/Dockerfile
  libraries/dagster-iceberg/tests/docker/Dockerfile
Owners: @JasperHG90, @deepyaman

Fix Iceberg partition expression typing (#290)
  libraries/dagster-iceberg/kitchen-sink/Dockerfile
  libraries/dagster-iceberg/src/dagster_iceberg/_utils/partitions.py
  libraries/dagster-iceberg/tests/docker/Dockerfile
Owners: @JasperHG90, @deepyaman

Release dagster-iceberg 0.3.12
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

Format obstore test
  libraries/dagster-obstore/dagster_obstore_tests/s3_tests/test_compute_log_manager.py
Owners: @ion-elgreco

Format sftp resource
  libraries/dagster-sftp/dagster_sftp/resource.py
Owners: @cmpadden

Exclude teradata from ty migration
  libraries/dagster-teradata/Makefile
  libraries/dagster-teradata/pyproject.toml
  libraries/dagster-teradata/uv.lock
Owners: @cmpadden

Revert "Exclude teradata from ty migration"
  libraries/dagster-teradata/Makefile
  libraries/dagster-teradata/pyproject.toml
  libraries/dagster-teradata/uv.lock
Owners: @cmpadden

Skip Teradata functional tests by default
  libraries/dagster-teradata/pyproject.toml
Owners: @cmpadden

Mock Vertex AI SDK calls in tests
  libraries/dagster-vertexai/dagster_vertexai_tests/test_resource.py
Owners: @cmpadden

Start obstore test services in pytest
  libraries/dagster-obstore/dagster_obstore_tests/conftest.py
Owners: @ion-elgreco

Format dagster-vertexai tests
  libraries/dagster-vertexai/dagster_vertexai_tests/test_resource.py
Owners: @cmpadden

Skip Teradata functional tests by default (#292)
  libraries/dagster-teradata/pyproject.toml
Owners: @cmpadden

Start obstore test services in pytest (#294)
  libraries/dagster-obstore/dagster_obstore_tests/conftest.py
Owners: @ion-elgreco

Mock Vertex AI SDK calls in tests (#293)
  libraries/dagster-vertexai/dagster_vertexai_tests/test_resource.py
Owners: @cmpadden

[dagster-polars] silence pydantic shadow warning on extension override
  libraries/dagster-polars/CHANGELOG.md
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
  libraries/dagster-polars/dagster_polars/io_managers/parquet.py
  libraries/dagster-polars/dagster_polars_tests/test_no_shadow_warning.py
Owners: @danielgafni

format: ruff format test_no_shadow_warning.py
  libraries/dagster-polars/dagster_polars_tests/test_no_shadow_warning.py
Owners: @danielgafni

use ty for type ignore
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
  libraries/dagster-polars/dagster_polars/io_managers/parquet.py
Owners: @danielgafni

[dagster-polars] silence pydantic shadow warning on extension override (#281)
  libraries/dagster-polars/CHANGELOG.md
  libraries/dagster-polars/dagster_polars/io_managers/delta.py
  libraries/dagster-polars/dagster_polars/io_managers/parquet.py
  libraries/dagster-polars/dagster_polars_tests/test_no_shadow_warning.py
Owners: @danielgafni

Release dagster-polars 0.27.10
  libraries/dagster-polars/dagster_polars/version.py
Owners: @danielgafni

[dagster-polars] always remap fsspec storage_options + harden moto fixture
  libraries/dagster-polars/dagster_polars/io_managers/parquet.py
  libraries/dagster-polars/dagster_polars_tests/test_s3_parquet.py
Owners: @danielgafni

[dagster-polars] remap fsspec storage_options for object_store reads
  libraries/dagster-polars/CHANGELOG.md
  libraries/dagster-polars/dagster_polars/io_managers/parquet.py
  libraries/dagster-polars/dagster_polars_tests/test_s3_parquet.py
  libraries/dagster-polars/dagster_polars_tests/test_storage_options_remap.py
Owners: @danielgafni

[dagster-polars] tighten storage_options remap: allowlist + nested client_kwargs
  libraries/dagster-polars/dagster_polars/io_managers/parquet.py
  libraries/dagster-polars/dagster_polars_tests/test_s3_parquet.py
  libraries/dagster-polars/dagster_polars_tests/test_storage_options_remap.py
Owners: @danielgafni

[dagster-polars] storage_options remap: drop verify mapping, narrow allowlist, tighten cast types
  libraries/dagster-polars/CHANGELOG.md
  libraries/dagster-polars/dagster_polars/io_managers/parquet.py
  libraries/dagster-polars/dagster_polars_tests/test_s3_parquet.py
  libraries/dagster-polars/dagster_polars_tests/test_storage_options_remap.py
Owners: @danielgafni

[dagster-polars] remap fsspec storage_options for object_store reads (closes #257) (#280)
  libraries/dagster-polars/CHANGELOG.md
  libraries/dagster-polars/dagster_polars/io_managers/parquet.py
  libraries/dagster-polars/dagster_polars_tests/test_s3_parquet.py
  libraries/dagster-polars/dagster_polars_tests/test_storage_options_remap.py
Owners: @danielgafni

Release dagster-polars 0.27.11
  libraries/dagster-polars/dagster_polars/version.py
Owners: @danielgafni

Add dagster-elasticsearch integration (#278)
  libraries/dagster-elasticsearch/CHANGELOG.md
  libraries/dagster-elasticsearch/Makefile
  libraries/dagster-elasticsearch/README.md
  libraries/dagster-elasticsearch/dagster_elasticsearch/__init__.py
  libraries/dagster-elasticsearch/dagster_elasticsearch/checks.py
  libraries/dagster-elasticsearch/dagster_elasticsearch/config.py
  libraries/dagster-elasticsearch/dagster_elasticsearch/errors.py
  libraries/dagster-elasticsearch/dagster_elasticsearch/io_manager.py
  libraries/dagster-elasticsearch/dagster_elasticsearch/resource.py
  libraries/dagster-elasticsearch/dagster_elasticsearch_tests/__init__.py
  libraries/dagster-elasticsearch/dagster_elasticsearch_tests/conftest.py
  libraries/dagster-elasticsearch/dagster_elasticsearch_tests/test_checks.py
  libraries/dagster-elasticsearch/dagster_elasticsearch_tests/test_io_manager.py
  libraries/dagster-elasticsearch/dagster_elasticsearch_tests/test_resource.py
  libraries/dagster-elasticsearch/dagster_elasticsearch_tests/test_unit.py
  libraries/dagster-elasticsearch/dagster_elasticsearch_tests/test_version.py
  libraries/dagster-elasticsearch/pyproject.toml
  libraries/dagster-elasticsearch/uv.lock
Owners: @cmpadden

.github/CODEOWNERS:

*   @cmpadden

/libraries/dagster-iceberg/ @JasperHG90 @deepyaman
/libraries/dagster-obstore/ @ion-elgreco
/libraries/dagster-polars/  @danielgafni
/libraries/pipes/   @danielgafni
/libraries/pipes/implementations/java/  @GingerYouth @danielgafni
/libraries/pipes/implementations/rust/  @cmpadden @christeefy @marijncv
