Repository dagster-io/community-integrations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cmpadden, @danielgafni, @GingerYouth, @christeefy, @marijncv

.github/CODEOWNERS:

*   @cmpadden

/libraries/pipes/   @danielgafni
/libraries/pipes/implementations/java   @GingerYouth @danielgafni
/libraries/pipes/implementations/rust  @cmpadden @christeefy @marijncv

move java flake
  .github/workflows/libraries-pipes-java.yml
  .github/workflows/libraries-pipes-rust.yml
  libraries/pipes/flake.nix
  libraries/pipes/implementations/java/dagster-pipes-java/README.md
  libraries/pipes/implementations/java/dagster-pipes-java/flake.lock
  libraries/pipes/implementations/java/dagster-pipes-java/flake.nix
  libraries/pipes/implementations/rust/README.md
  libraries/pipes/implementations/rust/pyproject.toml
  libraries/pipes/nix/shells/java/default.nix
  libraries/pipes/nix/shells/rust/default.nix
Owners: @cmpadden, @danielgafni, @GingerYouth, @christeefy, @marijncv

fmt
  libraries/pipes/flake.nix
  libraries/pipes/nix/shells/java/default.nix
  libraries/pipes/nix/shells/rust/default.nix
Owners: @danielgafni

fix: add cloud run job timeout to instance config
  libraries/dagster-contrib-gcp/README.md
  libraries/dagster-contrib-gcp/dagster_contrib_gcp/cloud_run/run_launcher.py
  libraries/dagster-contrib-gcp/dagster_contrib_gcp_tests/cloud_run_tests/conftest.py
  libraries/dagster-contrib-gcp/dagster_contrib_gcp_tests/cloud_run_tests/test_run_launcher.py
  libraries/dagster-contrib-gcp/uv.lock
Owners: @cmpadden

[dagster-contrib-gcp] bump 0.0.3; add changelog entry
  libraries/dagster-contrib-gcp/CHANGELOG.md
  libraries/dagster-contrib-gcp/pyproject.toml
Owners: @cmpadden

[dagster-contrib-notdiamond] Removing TOML config for Not Diamond.
  libraries/dagster-contrib-notdiamond/pyproject.toml
  libraries/dagster-contrib-notdiamond/requirements.txt
Owners: @cmpadden

Bump version
  libraries/dagster-contrib-notdiamond/CHANGELOG.md
  libraries/dagster-contrib-notdiamond/pyproject.toml
Owners: @cmpadden

uv
  libraries/dagster-contrib-notdiamond/uv.lock
Owners: @cmpadden

Initial Weaviate resource (#1)
  .github/workflows/quality-check-dagster-contrib-weaviate.yml
  .github/workflows/release-dagster-contrib-weaviate.yml
  libraries/dagster-contrib-weaviate/Makefile
  libraries/dagster-contrib-weaviate/README.md
  libraries/dagster-contrib-weaviate/dagster_contrib_weaviate/__init__.py
  libraries/dagster-contrib-weaviate/dagster_contrib_weaviate/resource.py
  libraries/dagster-contrib-weaviate/dagster_contrib_weaviate_tests/__init__.py
  libraries/dagster-contrib-weaviate/dagster_contrib_weaviate_tests/data_vector.json
  libraries/dagster-contrib-weaviate/dagster_contrib_weaviate_tests/query_vector.json
  libraries/dagster-contrib-weaviate/dagster_contrib_weaviate_tests/test_resource.py
  libraries/dagster-contrib-weaviate/pyproject.toml
  libraries/dagster-contrib-weaviate/uv.lock
Owners: @cmpadden

CR fixes #1
  libraries/dagster-contrib-weaviate/README.md
  libraries/dagster-contrib-weaviate/dagster_contrib_weaviate/resource.py
  libraries/dagster-contrib-weaviate/dagster_contrib_weaviate_tests/test_resource.py
Owners: @cmpadden

Merge the cloud and local resources into a single WeaviateResource
  libraries/dagster-contrib-weaviate/README.md
  libraries/dagster-contrib-weaviate/dagster_contrib_weaviate/__init__.py
  libraries/dagster-contrib-weaviate/dagster_contrib_weaviate/config.py
  libraries/dagster-contrib-weaviate/dagster_contrib_weaviate/resource.py
  libraries/dagster-contrib-weaviate/dagster_contrib_weaviate_tests/test_resource.py
Owners: @cmpadden

no reqs.txt
  libraries/dagster-contrib-notdiamond/requirements.txt
Owners: @cmpadden

Add mock-tests for WeaviateCloud
  libraries/dagster-contrib-weaviate/dagster_contrib_weaviate_tests/test_resource.py
Owners: @cmpadden

ruff
  libraries/dagster-contrib-weaviate/dagster_contrib_weaviate/config.py
  libraries/dagster-contrib-weaviate/dagster_contrib_weaviate/resource.py
  libraries/dagster-contrib-weaviate/dagster_contrib_weaviate_tests/test_resource.py
Owners: @cmpadden

code review #2
  libraries/dagster-contrib-weaviate/dagster_contrib_weaviate_tests/test_resource.py
Owners: @cmpadden

add missing extras
  libraries/pipes/tests/dagster-pipes-tests/src/dagster_pipes_tests/suite.py
Owners: @danielgafni

Java tests refactoring (#84)
  libraries/pipes/implementations/java/dagster-pipes-java/src/main/java/pipes/utils/Example.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/MainTest.java
  libraries/pipes/implementations/java/dagster-pipes-java/src/test/java/pipes/PipesTests.java
Owners: @GingerYouth, @danielgafni

add logging tests from the suite
  libraries/pipes/implementations/rust/pipes.toml
  libraries/pipes/implementations/rust/src/bin/pipes_tests.rs
  libraries/pipes/implementations/rust/uv.lock
Owners: @cmpadden, @christeefy, @marijncv

fmt
  libraries/pipes/implementations/rust/src/bin/pipes_tests.rs
Owners: @cmpadden, @christeefy, @marijncv

[dagster-contrib-notdiamond] create example showcasing model routing usage with OAI
  libraries/dagster-contrib-notdiamond/README.md
  libraries/dagster-contrib-notdiamond/examples/__init__.py
  libraries/dagster-contrib-notdiamond/examples/example_book_reviews_summary.py
  libraries/dagster-contrib-notdiamond/examples/example_notdiamond.py
Owners: @cmpadden

include screenshot
  libraries/dagster-contrib-notdiamond/examples/example_book_reviews_summary.png
Owners: @cmpadden

add dev dagster-openai dep; adds changelog entry
  libraries/dagster-contrib-notdiamond/CHANGELOG.md
  libraries/dagster-contrib-notdiamond/pyproject.toml
  libraries/dagster-contrib-notdiamond/uv.lock
Owners: @cmpadden

[dagster-weaviate] dagster-contrib-weaviate -> dagster-weaviate
  libraries/dagster-contrib-weaviate/README.md
  libraries/dagster-contrib-weaviate/dagster_weaviate/__init__.py
  libraries/dagster-contrib-weaviate/dagster_weaviate/config.py
  libraries/dagster-contrib-weaviate/dagster_weaviate/resource.py
  libraries/dagster-contrib-weaviate/dagster_weaviate_tests/__init__.py
  libraries/dagster-contrib-weaviate/dagster_weaviate_tests/data_vector.json
  libraries/dagster-contrib-weaviate/dagster_weaviate_tests/query_vector.json
  libraries/dagster-contrib-weaviate/dagster_weaviate_tests/test_resource.py
  libraries/dagster-contrib-weaviate/pyproject.toml
  libraries/dagster-contrib-weaviate/uv.lock
Owners: @cmpadden

gha rename
  .github/workflows/quality-check-dagster-weaviate.yml
  .github/workflows/release-dagster-contrib-weaviate.yml
  .github/workflows/release-dagster-weaviate.yml
Owners: @cmpadden

mv folder
  libraries/dagster-weaviate/Makefile
  libraries/dagster-weaviate/README.md
  libraries/dagster-weaviate/dagster_weaviate/__init__.py
  libraries/dagster-weaviate/dagster_weaviate/config.py
  libraries/dagster-weaviate/dagster_weaviate/resource.py
  libraries/dagster-weaviate/dagster_weaviate_tests/__init__.py
  libraries/dagster-weaviate/dagster_weaviate_tests/data_vector.json
  libraries/dagster-weaviate/dagster_weaviate_tests/query_vector.json
  libraries/dagster-weaviate/dagster_weaviate_tests/test_resource.py
  libraries/dagster-weaviate/pyproject.toml
  libraries/dagster-weaviate/uv.lock
Owners: @cmpadden

[dagster-gemini] dagster-contrib-gemini -> dagster-gemini
  .github/workflows/quality-check-dagster-gemini.yml
  .github/workflows/release-dagster-contrib-gemini.yml
  .github/workflows/release-dagster-gemini.yml
  libraries/dagster-contrib-gemini/dagster_contrib_gemini/__init__.py
  libraries/dagster-gemini/Makefile
  libraries/dagster-gemini/README.md
  libraries/dagster-gemini/dagster_gemini/__init__.py
  libraries/dagster-gemini/dagster_gemini/resource.py
  libraries/dagster-gemini/dagster_gemini_tests/__init__.py
  libraries/dagster-gemini/dagster_gemini_tests/test_resource.py
  libraries/dagster-gemini/pyproject.toml
  libraries/dagster-gemini/uv.lock
Owners: @cmpadden

[dagster-anthropic] dagster-contrib-anthropic -> dagster-anthropic
  .github/workflows/quality-check-dagster-contrib-anthropic.yml
  .github/workflows/release-dagster-contrib-anthropic.yml
  libraries/dagster-anthropic/Makefile
  libraries/dagster-anthropic/README.md
  libraries/dagster-anthropic/dagster_anthropic/__init__.py
  libraries/dagster-anthropic/dagster_anthropic/resource.py
  libraries/dagster-anthropic/dagster_anthropic_tests/__init__.py
  libraries/dagster-anthropic/dagster_anthropic_tests/test_resource.py
  libraries/dagster-anthropic/pyproject.toml
  libraries/dagster-anthropic/uv.lock
  libraries/dagster-contrib-anthropic/dagster_contrib_anthropic/__init__.py
Owners: @cmpadden

[dagster-modal] dagster-contrib-modal -> dagster-modal
  .github/workflows/quality-check-dagster-modal.yml
  .github/workflows/release-dagster-contrib-modal.yml
  .github/workflows/release-dagster-modal.yml
  libraries/dagster-contrib-modal/dagster_contrib_modal/__init__.py
  libraries/dagster-modal/CHANGELOG.md
  libraries/dagster-modal/Makefile
  libraries/dagster-modal/README.md
  libraries/dagster-modal/dagster_modal/__init__.py
  libraries/dagster-modal/dagster_modal/resources.py
  libraries/dagster-modal/dagster_modal_tests/__init__.py
  libraries/dagster-modal/dagster_modal_tests/test_modal_client.py
  libraries/dagster-modal/pyproject.toml
  libraries/dagster-modal/uv.lock
Owners: @cmpadden

[dagster-chroma] dagster-contrib-chroma -> dagster-chroma
  .github/workflows/quality-check-dagster-anthropic.yml
  .github/workflows/quality-check-dagster-chroma.yml
  .github/workflows/release-dagster-anthropic.yml
  .github/workflows/release-dagster-chroma.yml
  .github/workflows/release-dagster-contrib-chroma.yml
  libraries/dagster-chroma/Makefile
  libraries/dagster-chroma/README.md
  libraries/dagster-chroma/dagster_chroma/__init__.py
  libraries/dagster-chroma/dagster_chroma/config.py
  libraries/dagster-chroma/dagster_chroma/resource.py
  libraries/dagster-chroma/dagster_chroma_tests/__init__.py
  libraries/dagster-chroma/dagster_chroma_tests/test_resource.py
  libraries/dagster-chroma/pyproject.toml
  libraries/dagster-chroma/uv.lock
Owners: @cmpadden

skewer case
  libraries/dagster-chroma/pyproject.toml
Owners: @cmpadden

skewer case
  libraries/_template/pyproject.toml
  libraries/dagster-contrib-gcp/pyproject.toml
Owners: @cmpadden

Adds community callout to README
  README.md
Owners: @cmpadden

fix typo
  README.md
Owners: @cmpadden

expand on descriptions
  README.md
Owners: @cmpadden

typo
  README.md
Owners: @cmpadden

initial commit
  libraries/dagster-teradata/Makefile
  libraries/dagster-teradata/README.md
  libraries/dagster-teradata/dagster_teradata/__init__.py
  libraries/dagster-teradata/dagster_teradata/constants.py
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata/teradata_compute_cluster_manager.py
  libraries/dagster-teradata/dagster_teradata_tests/__init__.py
  libraries/dagster-teradata/dagster_teradata_tests/test_azure_to_teradata.py
  libraries/dagster-teradata/dagster_teradata_tests/test_create_teradata_compute_cluster.py
  libraries/dagster-teradata/dagster_teradata_tests/test_drop_database.py
  libraries/dagster-teradata/dagster_teradata_tests/test_drop_table.py
  libraries/dagster-teradata/dagster_teradata_tests/test_drop_teradata_compute_cluster.py
  libraries/dagster-teradata/dagster_teradata_tests/test_execute_queries.py
  libraries/dagster-teradata/dagster_teradata_tests/test_execute_query.py
  libraries/dagster-teradata/dagster_teradata_tests/test_resources.py
  libraries/dagster-teradata/dagster_teradata_tests/test_resume_teradata_compute_cluster.py
  libraries/dagster-teradata/dagster_teradata_tests/test_s3_to_teradata_S3Resource.py
  libraries/dagster-teradata/dagster_teradata_tests/test_s3_to_teradata_session.py
  libraries/dagster-teradata/dagster_teradata_tests/test_suspend_teradata_compute_cluster.py
  libraries/dagster-teradata/pyproject.toml
  libraries/dagster-teradata/uv.lock
Owners: @cmpadden

Fixed pyright and ruff reported errors
  libraries/dagster-teradata/dagster_teradata/__init__.py
  libraries/dagster-teradata/dagster_teradata/constants.py
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata/teradata_compute_cluster_manager.py
  libraries/dagster-teradata/dagster_teradata_tests/test_create_teradata_compute_cluster.py
  libraries/dagster-teradata/dagster_teradata_tests/test_drop_database.py
  libraries/dagster-teradata/dagster_teradata_tests/test_drop_table.py
  libraries/dagster-teradata/dagster_teradata_tests/test_drop_teradata_compute_cluster.py
  libraries/dagster-teradata/dagster_teradata_tests/test_execute_queries.py
  libraries/dagster-teradata/dagster_teradata_tests/test_execute_query.py
  libraries/dagster-teradata/dagster_teradata_tests/test_resume_teradata_compute_cluster.py
  libraries/dagster-teradata/dagster_teradata_tests/test_s3_to_teradata_S3Resource.py
  libraries/dagster-teradata/dagster_teradata_tests/test_s3_to_teradata_session.py
  libraries/dagster-teradata/dagster_teradata_tests/test_suspend_teradata_compute_cluster.py
Owners: @cmpadden

Moved compute cluster test cases to a directory
  libraries/dagster-teradata/dagster_teradata_tests/test_compute_cluster_manager/__init__.py
  libraries/dagster-teradata/dagster_teradata_tests/test_compute_cluster_manager/test_create_teradata_compute_cluster.py
  libraries/dagster-teradata/dagster_teradata_tests/test_compute_cluster_manager/test_drop_teradata_compute_cluster.py
  libraries/dagster-teradata/dagster_teradata_tests/test_compute_cluster_manager/test_resume_teradata_compute_cluster.py
  libraries/dagster-teradata/dagster_teradata_tests/test_compute_cluster_manager/test_suspend_teradata_compute_cluster.py
Owners: @cmpadden

Updated test cases
  .github/workflows/quality-check-dagster-teradata.yml
  .github/workflows/release-dagster-teradata.yml
  libraries/dagster-teradata/Makefile
  libraries/dagster-teradata/README.md
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata_tests/test_azure_to_teradata.py
  libraries/dagster-teradata/dagster_teradata_tests/test_compute_cluster_manager/test_create_teradata_compute_cluster.py
  libraries/dagster-teradata/dagster_teradata_tests/test_compute_cluster_manager/test_drop_teradata_compute_cluster.py
  libraries/dagster-teradata/dagster_teradata_tests/test_compute_cluster_manager/test_resume_teradata_compute_cluster.py
  libraries/dagster-teradata/dagster_teradata_tests/test_compute_cluster_manager/test_suspend_teradata_compute_cluster.py
  libraries/dagster-teradata/dagster_teradata_tests/test_drop_database.py
  libraries/dagster-teradata/dagster_teradata_tests/test_drop_table.py
  libraries/dagster-teradata/dagster_teradata_tests/test_execute_queries.py
  libraries/dagster-teradata/dagster_teradata_tests/test_execute_query.py
  libraries/dagster-teradata/dagster_teradata_tests/test_resources.py
  libraries/dagster-teradata/dagster_teradata_tests/test_s3_to_teradata.py
  libraries/dagster-teradata/dagster_teradata_tests/test_s3_to_teradata_session.py
Owners: @cmpadden

Addressed review comments
  libraries/dagster-teradata/README.md
  libraries/dagster-teradata/dagster_teradata/constants.py
  libraries/dagster-teradata/dagster_teradata/resources.py
  libraries/dagster-teradata/dagster_teradata/teradata_compute_cluster_manager.py
  libraries/dagster-teradata/dagster_teradata_tests/test_azure_to_teradata.py
  libraries/dagster-teradata/dagster_teradata_tests/test_drop_database.py
  libraries/dagster-teradata/dagster_teradata_tests/test_drop_table.py
  libraries/dagster-teradata/dagster_teradata_tests/test_resources.py
Owners: @cmpadden

Removed end_time
  libraries/dagster-teradata/dagster_teradata_tests/test_resources.py
Owners: @cmpadden
