Repository dagster-io/community-integrations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cmpadden, @JasperHG90, @deepyaman, @ion-elgreco, @danielgafni, @GingerYouth, @christeefy, @marijncv

.github/CODEOWNERS:

*   @cmpadden

/libraries/dagster-iceberg/ @JasperHG90 @deepyaman
/libraries/dagster-obstore/ @ion-elgreco
/libraries/dagster-polars/  @danielgafni
/libraries/pipes/   @danielgafni
/libraries/pipes/implementations/java/  @GingerYouth @danielgafni
/libraries/pipes/implementations/rust/  @cmpadden @christeefy @marijncv

add metadata to sources
  libraries/dagster-evidence/dagster_evidence/components/sources.py
Owners: @cmpadden

Feat/add new evidence component v2 (#265)
  libraries/dagster-evidence/CLAUDE.md
  libraries/dagster-evidence/Makefile
  libraries/dagster-evidence/README.md
  libraries/dagster-evidence/dagster_evidence/__init__.py
  libraries/dagster-evidence/dagster_evidence/components/__init__.py
  libraries/dagster-evidence/dagster_evidence/components/deployments.py
  libraries/dagster-evidence/dagster_evidence/components/evidence_project_v2.py
  libraries/dagster-evidence/dagster_evidence/components/projects.py
  libraries/dagster-evidence/dagster_evidence/components/sources.py
  libraries/dagster-evidence/dagster_evidence/components/translator.py
  libraries/dagster-evidence/dagster_evidence/lib/evidence_project.py
  libraries/dagster-evidence/dagster_evidence/resource.py
  libraries/dagster-evidence/dagster_evidence/utils/__init__.py
  libraries/dagster-evidence/dagster_evidence/utils/sql_parser.py
  libraries/dagster-evidence/dagster_evidence_tests/conftest.py
  libraries/dagster-evidence/dagster_evidence_tests/evidence_projects/test_project/evidence.config.yaml
  libraries/dagster-evidence/dagster_evidence_tests/evidence_projects/test_project/package.json
  libraries/dagster-evidence/dagster_evidence_tests/evidence_projects/test_project/sources/needful_things/connection.yaml
  libraries/dagster-evidence/dagster_evidence_tests/evidence_projects/test_project/sources/needful_things/customers.sql
  libraries/dagster-evidence/dagster_evidence_tests/evidence_projects/test_project/sources/needful_things/orders.sql
  libraries/dagster-evidence/dagster_evidence_tests/test_component.py
  libraries/dagster-evidence/dagster_evidence_tests/test_deployments.py
  libraries/dagster-evidence/dagster_evidence_tests/test_projects.py
  libraries/dagster-evidence/dagster_evidence_tests/test_sources.py
  libraries/dagster-evidence/dagster_evidence_tests/test_sql_parser.py
  libraries/dagster-evidence/dagster_evidence_tests/test_translator.py
  libraries/dagster-evidence/docs/component-architecture.excalidraw
  libraries/dagster-evidence/pyproject.toml
  libraries/dagster-evidence/uv.lock
Owners: @cmpadden

[dagster-polars] log dagster/partition_row_count instead of dagster/row_count for partitioned outputs
  libraries/dagster-polars/CHANGELOG.md
  libraries/dagster-polars/dagster_polars/io_managers/utils.py
  libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers.py
Owners: @danielgafni

[dagster-polars] log dagster/partition_row_count instead of dagster/row_count for partitioned outputs (#267)
  libraries/dagster-polars/CHANGELOG.md
  libraries/dagster-polars/dagster_polars/io_managers/utils.py
  libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers.py
Owners: @danielgafni

Release dagster-polars 0.27.9
  libraries/dagster-polars/dagster_polars/version.py
Owners: @danielgafni

Add support to dagster-dataform for selective model execution
  libraries/dagster-dataform/README.md
  libraries/dagster-dataform/dagster_dataform/dataform_orchestration_schedule.py
  libraries/dagster-dataform/dagster_dataform/resources.py
  libraries/dagster-dataform/dagster_dataform_tests/test_dataform_orchestration_schedule.py
  libraries/dagster-dataform/dagster_dataform_tests/test_resources.py
  libraries/dagster-dataform/pyproject.toml
  libraries/dagster-dataform/uv.lock
Owners: @cmpadden

Add support to dagster-dataform for selective model execution (#268)
  libraries/dagster-dataform/README.md
  libraries/dagster-dataform/dagster_dataform/dataform_orchestration_schedule.py
  libraries/dagster-dataform/dagster_dataform/resources.py
  libraries/dagster-dataform/dagster_dataform_tests/test_dataform_orchestration_schedule.py
  libraries/dagster-dataform/dagster_dataform_tests/test_resources.py
  libraries/dagster-dataform/pyproject.toml
  libraries/dagster-dataform/uv.lock
Owners: @cmpadden

Release dagster-dataform 0.0.6
  libraries/dagster-dataform/dagster_dataform/__init__.py
Owners: @cmpadden

Include future annotations in dagster-iceberg
  libraries/dagster-iceberg/src/dagster_iceberg/_utils/partitions.py
Owners: @JasperHG90, @deepyaman

Release dagster-iceberg 0.3.9
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] set upper bound for compatibility
  libraries/dagster-iceberg/pyproject.toml
Owners: @JasperHG90, @deepyaman

ruff
  libraries/dagster-iceberg/src/dagster_iceberg/_utils/partitions.py
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] set upper bound for compatibility (#269)
  libraries/dagster-iceberg/pyproject.toml
  libraries/dagster-iceberg/src/dagster_iceberg/_utils/partitions.py
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

Release dagster-iceberg 0.3.10
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

[dagster-iceberg] include future annotations
  libraries/dagster-iceberg/src/dagster_iceberg/_utils/io.py
Owners: @JasperHG90, @deepyaman

Release dagster-iceberg 0.3.11
  libraries/dagster-iceberg/src/dagster_iceberg/version.py
Owners: @JasperHG90, @deepyaman

chore: prevent registry warnings for community integrations
  libraries/dagster-apprise/dagster_apprise/__init__.py
  libraries/dagster-obstore/dagster_obstore/__init__.py
Owners: @cmpadden, @ion-elgreco

chore: prevent registry warnings for community integrations (#270)
  libraries/dagster-apprise/dagster_apprise/__init__.py
  libraries/dagster-obstore/dagster_obstore/__init__.py
Owners: @cmpadden, @ion-elgreco

Add dagster-adbc integration
  libraries/dagster-adbc/Makefile
  libraries/dagster-adbc/README.md
  libraries/dagster-adbc/dagster_adbc/__init__.py
  libraries/dagster-adbc/dagster_adbc/resource.py
  libraries/dagster-adbc/dagster_adbc_tests/__init__.py
  libraries/dagster-adbc/dagster_adbc_tests/test_resource.py
  libraries/dagster-adbc/dagster_adbc_tests/test_version.py
  libraries/dagster-adbc/pyproject.toml
  libraries/dagster-adbc/uv.lock
Owners: @cmpadden

Add dagster-adbc integration (#272)
  libraries/dagster-adbc/Makefile
  libraries/dagster-adbc/README.md
  libraries/dagster-adbc/dagster_adbc/__init__.py
  libraries/dagster-adbc/dagster_adbc/resource.py
  libraries/dagster-adbc/dagster_adbc_tests/__init__.py
  libraries/dagster-adbc/dagster_adbc_tests/test_resource.py
  libraries/dagster-adbc/dagster_adbc_tests/test_version.py
  libraries/dagster-adbc/pyproject.toml
  libraries/dagster-adbc/uv.lock
Owners: @cmpadden

feat(dagster-openlineage): raise floor to 1.11.6 and migrate to facet_v2
  libraries/dagster-openlineage/dagster_openlineage/__init__.py
  libraries/dagster-openlineage/dagster_openlineage/adapter.py
  libraries/dagster-openlineage/dagster_openlineage/compat.py
  libraries/dagster-openlineage/dagster_openlineage/listener.py
  libraries/dagster-openlineage/dagster_openlineage_tests/conftest.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_adapter_pipeline.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_adapter_step.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_utils.py
  libraries/dagster-openlineage/pyproject.toml
  libraries/dagster-openlineage/uv.lock
Owners: @cmpadden

feat(dagster-openlineage): add emitter + facet builders
  libraries/dagster-openlineage/dagster_openlineage/emitter.py
  libraries/dagster-openlineage/dagster_openlineage/facets.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_emitter.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_facet_builders.py
Owners: @cmpadden

feat(dagster-openlineage): add asset-event adapter methods + namespace template
  libraries/dagster-openlineage/dagster_openlineage/adapter.py
  libraries/dagster-openlineage/dagster_openlineage/naming.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_adapter_asset.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_multi_tenant.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_naming.py
Owners: @cmpadden

feat(dagster-openlineage): add OpenLineageEventLogStorage wrapper
  libraries/dagster-openlineage/dagster_openlineage/__init__.py
  libraries/dagster-openlineage/dagster_openlineage/storage.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_storage_wrapper.py
  libraries/dagster-openlineage/pyproject.toml
  libraries/dagster-openlineage/uv.lock
Owners: @cmpadden

feat(dagster-openlineage): add sensor asset-event path + include_asset_events
  libraries/dagster-openlineage/dagster_openlineage/cursor.py
  libraries/dagster-openlineage/dagster_openlineage/sensor.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_sensor_cursor_assets.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_sensor_evaluation.py
Owners: @cmpadden

feat(dagster-openlineage): tighten pyright + add FakeOpenLineageTransport and e2e tests
  libraries/dagster-openlineage/dagster_openlineage/sensor.py
  libraries/dagster-openlineage/dagster_openlineage_tests/fakes.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_adapter_asset.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_adapter_client.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_e2e_pipes.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_e2e_subprocess.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_emitter.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_sensor_cursor.py
  libraries/dagster-openlineage/pyproject.toml
Owners: @cmpadden

feat(dagster-openlineage): release v0.2.0 — README + CHANGELOG + version bump
  libraries/dagster-openlineage/CHANGELOG.md
  libraries/dagster-openlineage/README.md
  libraries/dagster-openlineage/dagster_openlineage/version.py
Owners: @cmpadden

feat(dagster-openlineage): v0.2.0 — asset-centric emission
  libraries/dagster-openlineage/CHANGELOG.md
  libraries/dagster-openlineage/README.md
  libraries/dagster-openlineage/dagster_openlineage/__init__.py
  libraries/dagster-openlineage/dagster_openlineage/adapter.py
  libraries/dagster-openlineage/dagster_openlineage/compat.py
  libraries/dagster-openlineage/dagster_openlineage/cursor.py
  libraries/dagster-openlineage/dagster_openlineage/emitter.py
  libraries/dagster-openlineage/dagster_openlineage/facets.py
  libraries/dagster-openlineage/dagster_openlineage/listener.py
  libraries/dagster-openlineage/dagster_openlineage/naming.py
  libraries/dagster-openlineage/dagster_openlineage/sensor.py
  libraries/dagster-openlineage/dagster_openlineage/storage.py
  libraries/dagster-openlineage/dagster_openlineage/version.py
  libraries/dagster-openlineage/dagster_openlineage_tests/conftest.py
  libraries/dagster-openlineage/dagster_openlineage_tests/fakes.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_adapter_asset.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_adapter_client.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_adapter_pipeline.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_adapter_step.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_e2e_pipes.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_e2e_subprocess.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_emitter.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_facet_builders.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_multi_tenant.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_naming.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_sensor_cursor.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_sensor_cursor_assets.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_sensor_evaluation.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_storage_wrapper.py
  libraries/dagster-openlineage/dagster_openlineage_tests/test_utils.py
  libraries/dagster-openlineage/pyproject.toml
  libraries/dagster-openlineage/uv.lock
Owners: @cmpadden

allow attaching to a ducklake without specifying the DATA_PATH
  libraries/dagster-ducklake/dagster_ducklake/ducklake.py
  libraries/dagster-ducklake/dagster_ducklake_tests/test_ducklake.py
Owners: @cmpadden

add changelog
  libraries/dagster-ducklake/CHANGELOG.md
Owners: @cmpadden

ducklake optional DATA_PATH for local storage directories (#275)
  libraries/dagster-ducklake/CHANGELOG.md
  libraries/dagster-ducklake/dagster_ducklake/ducklake.py
  libraries/dagster-ducklake/dagster_ducklake_tests/test_ducklake.py
Owners: @cmpadden

Release dagster-ducklake 0.0.3
  libraries/dagster-ducklake/dagster_ducklake/__init__.py
Owners: @cmpadden

[dagster-sharepoint] support optional `site` parameter to SharePointResource
  libraries/dagster-sharepoint/README.md
  libraries/dagster-sharepoint/dagster_sharepoint/resource.py
  libraries/dagster-sharepoint/dagster_sharepoint_tests/test_resource.py
Owners: @cmpadden

[dagster-sharepoint] support optional `site` parameter to SharePointResource (#277)
  libraries/dagster-sharepoint/README.md
  libraries/dagster-sharepoint/dagster_sharepoint/resource.py
  libraries/dagster-sharepoint/dagster_sharepoint_tests/test_resource.py
Owners: @cmpadden

Release dagster-sharepoint 0.0.3
  libraries/dagster-sharepoint/dagster_sharepoint/__init__.py
Owners: @cmpadden

use 1.17
  libraries/dagster-polars/dagster_polars/io_managers/parquet.py
  libraries/dagster-polars/pyproject.toml
  libraries/dagster-polars/uv.lock
Owners: @danielgafni

add to changelog
  libraries/dagster-polars/CHANGELOG.md
Owners: @danielgafni

dagster-polars: parquet writes to cloud storage (#264)
  libraries/dagster-polars/CHANGELOG.md
  libraries/dagster-polars/dagster_polars/io_managers/parquet.py
  libraries/dagster-polars/dagster_polars_tests/test_s3_parquet.py
  libraries/dagster-polars/pyproject.toml
  libraries/dagster-polars/uv.lock
Owners: @danielgafni

Add dagster-elasticsearch integration
  libraries/dagster-elasticsearch/CHANGELOG.md
  libraries/dagster-elasticsearch/Makefile
  libraries/dagster-elasticsearch/README.md
  libraries/dagster-elasticsearch/dagster_elasticsearch/__init__.py
  libraries/dagster-elasticsearch/dagster_elasticsearch/config.py
  libraries/dagster-elasticsearch/dagster_elasticsearch/io_manager.py
  libraries/dagster-elasticsearch/dagster_elasticsearch/resource.py
  libraries/dagster-elasticsearch/dagster_elasticsearch_tests/__init__.py
  libraries/dagster-elasticsearch/dagster_elasticsearch_tests/conftest.py
  libraries/dagster-elasticsearch/dagster_elasticsearch_tests/test_io_manager.py
  libraries/dagster-elasticsearch/dagster_elasticsearch_tests/test_resource.py
  libraries/dagster-elasticsearch/dagster_elasticsearch_tests/test_version.py
  libraries/dagster-elasticsearch/pyproject.toml
  libraries/dagster-elasticsearch/uv.lock
Owners: @cmpadden

[dagster-elasticsearch] add index config, error wrapper, polars support, streaming
  libraries/dagster-elasticsearch/README.md
  libraries/dagster-elasticsearch/dagster_elasticsearch/__init__.py
  libraries/dagster-elasticsearch/dagster_elasticsearch/config.py
  libraries/dagster-elasticsearch/dagster_elasticsearch/errors.py
  libraries/dagster-elasticsearch/dagster_elasticsearch/io_manager.py
  libraries/dagster-elasticsearch/dagster_elasticsearch_tests/test_io_manager.py
  libraries/dagster-elasticsearch/dagster_elasticsearch_tests/test_unit.py
  libraries/dagster-elasticsearch/pyproject.toml
  libraries/dagster-elasticsearch/uv.lock
Owners: @cmpadden
