Repository dagster-io/community-integrations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cmpadden, @JasperHG90, @deepyaman, @ion-elgreco, @danielgafni, @GingerYouth, @christeefy, @marijncv

.github/CODEOWNERS:

*   @cmpadden

/libraries/dagster-iceberg/ @JasperHG90 @deepyaman
/libraries/dagster-obstore/ @ion-elgreco
/libraries/dagster-polars/  @danielgafni
/libraries/pipes/   @danielgafni
/libraries/pipes/implementations/java/  @GingerYouth @danielgafni
/libraries/pipes/implementations/rust/  @cmpadden @christeefy @marijncv

Update dagster-elasticsearch to use ty
  libraries/dagster-elasticsearch/Makefile
  libraries/dagster-elasticsearch/dagster_elasticsearch_tests/conftest.py
  libraries/dagster-elasticsearch/pyproject.toml
  libraries/dagster-elasticsearch/uv.lock
Owners: @cmpadden

Update dagster-elasticsearch to use ty (#296)
  libraries/dagster-elasticsearch/Makefile
  libraries/dagster-elasticsearch/dagster_elasticsearch_tests/conftest.py
  libraries/dagster-elasticsearch/pyproject.toml
  libraries/dagster-elasticsearch/uv.lock
Owners: @cmpadden

Update NotDiamond SDK
  libraries/dagster-notdiamond/uv.lock
Owners: @cmpadden

Update dagster-adbc lockfile
  libraries/dagster-adbc/uv.lock
Owners: @cmpadden

Update dagster-anthropic lockfile
  libraries/dagster-anthropic/uv.lock
Owners: @cmpadden

Update dagster-apprise lockfile
  libraries/dagster-apprise/uv.lock
Owners: @cmpadden

Update dagster-async-executor lockfile
  libraries/dagster-async-executor/uv.lock
Owners: @cmpadden

Update dagster-chroma lockfile
  libraries/dagster-chroma/uv.lock
Owners: @cmpadden

Update dagster-contrib-gcp lockfile
  libraries/dagster-contrib-gcp/uv.lock
Owners: @cmpadden

Update dagster-dataform lockfile
  libraries/dagster-dataform/uv.lock
Owners: @cmpadden

Update dagster-ducklake lockfile
  libraries/dagster-ducklake/uv.lock
Owners: @cmpadden

Update dagster-elasticsearch lockfile
  libraries/dagster-elasticsearch/uv.lock
Owners: @cmpadden

Update dagster-evidence lockfile
  libraries/dagster-evidence/uv.lock
Owners: @cmpadden

Update dagster-gemini lockfile
  libraries/dagster-gemini/uv.lock
Owners: @cmpadden

Update dagster-hex lockfile
  libraries/dagster-hex/uv.lock
Owners: @cmpadden

Update dagster-iceberg lockfile
  libraries/dagster-iceberg/uv.lock
Owners: @JasperHG90, @deepyaman

Update dagster-modal lockfile
  libraries/dagster-modal/uv.lock
Owners: @cmpadden

Update dagster-obstore lockfile
  libraries/dagster-obstore/uv.lock
Owners: @ion-elgreco

Update dagster-openlineage lockfile
  libraries/dagster-openlineage/uv.lock
Owners: @cmpadden

Update dagster-polars lockfile
  libraries/dagster-polars/uv.lock
Owners: @danielgafni

Update dagster-qdrant lockfile
  libraries/dagster-qdrant/uv.lock
Owners: @cmpadden

Update dagster-salesforce lockfile
  libraries/dagster-salesforce/uv.lock
Owners: @cmpadden

Update dagster-sftp lockfile
  libraries/dagster-sftp/uv.lock
Owners: @cmpadden

Update dagster-sharepoint lockfile
  libraries/dagster-sharepoint/uv.lock
Owners: @cmpadden

Update dagster-teradata lockfile
  libraries/dagster-teradata/uv.lock
Owners: @cmpadden

Update dagster-vertexai lockfile
  libraries/dagster-vertexai/uv.lock
Owners: @cmpadden

Update dagster-weaviate lockfile
  libraries/dagster-weaviate/uv.lock
Owners: @cmpadden

Update dagster-xquik lockfile
  libraries/dagster-xquik/uv.lock
Owners: @cmpadden

Update NotDiamond SDK (#297)
  libraries/dagster-notdiamond/uv.lock
Owners: @cmpadden

Update dagster-anthropic lockfile (#299)
  libraries/dagster-anthropic/uv.lock
Owners: @cmpadden

Update dagster-chroma lockfile (#302)
  libraries/dagster-chroma/uv.lock
Owners: @cmpadden

Update dagster-dataform lockfile (#304)
  libraries/dagster-dataform/uv.lock
Owners: @cmpadden

Update dagster-ducklake lockfile (#305)
  libraries/dagster-ducklake/uv.lock
Owners: @cmpadden

Update dagster-gemini lockfile (#308)
  libraries/dagster-gemini/uv.lock
Owners: @cmpadden

Update dagster-hex lockfile (#309)
  libraries/dagster-hex/uv.lock
Owners: @cmpadden

Update dagster-adbc lockfile (#298)
  libraries/dagster-adbc/uv.lock
Owners: @cmpadden

Update dagster-modal lockfile (#311)
  libraries/dagster-modal/uv.lock
Owners: @cmpadden

Update dagster-qdrant lockfile (#315)
  libraries/dagster-qdrant/uv.lock
Owners: @cmpadden

Update dagster-sharepoint lockfile (#318)
  libraries/dagster-sharepoint/uv.lock
Owners: @cmpadden

Update dagster-xquik lockfile (#322)
  libraries/dagster-xquik/uv.lock
Owners: @cmpadden
